Repository botpress/botpress, pull requests merged in 2021-02, with the labels that each got.

#4478 feat(studio): default empty transition on new nodes
  src/bp/ui-studio/src/web/views/FlowBuilder/diagram/index.tsx
  src/e2e/studio/flows.test.ts
Labels: ui/studio/flow

#4461 fix(studio): null config in debbuger when changing tabs
  src/bp/ui-studio/src/web/components/Layout/BottomPanel/Debugger/index.tsx
Labels: bug, ui/studio

#4540 feat(nlu): add support for MS Recognizer text
  .vscode/launch.json
  package.json
  src/bp/core/services/nlu/entities-service.ts
  src/bp/nlu-core/entities/custom-entity-extractor.ts
  src/bp/nlu-core/entities/duckling-extractor/duckling-extractor.test.ts
  src/bp/nlu-core/entities/duckling-extractor/enums.ts
  src/bp/nlu-core/entities/duckling-extractor/index.ts
  src/bp/nlu-core/entities/entity-cache-manager.test.ts
  src/bp/nlu-core/entities/entity-cache-manager.ts
  src/bp/nlu-core/entities/microsoft-extractor/enums.ts
  src/bp/nlu-core/entities/microsoft-extractor/index.ts
  src/bp/nlu-core/entities/microsoft-extractor/microsoft-extractor.test.ts
  src/bp/nlu-core/entities/microsoft-extractor/typings.ts
  src/bp/nlu-core/initialize-tools.ts
  src/bp/nlu-core/predict-pipeline.ts
  src/bp/nlu-core/test-utils/fake-tools.ts
  src/bp/nlu-core/tools/token-utils.ts
  src/bp/nlu-core/training-pipeline.ts
  src/bp/nlu-core/typings.ts
  src/bp/nlu-server/validation/validate.ts
  yarn.lock
Labels: core/nlu
