Repository botpress/botpress, pull requests merged in 2021-05, with the labels that each got.

#4922 chore(docs): create email skill topic
  docs/guide/docs/tutorials/skill-email.md
  docs/guide/website/sidebars.json
Labels: documentation

#4920 chore(deps): update typescript-json-schema dependency to v0.50.0
  package.json
  yarn.lock
Labels: dependencies, internal

#4921 chore(docs): fix links in deploying.md
  docs/guide/docs/infrastructure/deploying.md
Labels: documentation

#4800 chore(channel-telegram): use channel renderers
  modules/builtin/src/content-types/card.js
  modules/builtin/src/content-types/carousel.js
  modules/builtin/src/content-types/image.js
  modules/builtin/src/content-types/single_choice.js
  modules/builtin/src/content-types/text.js
  modules/channel-telegram/src/backend/client.ts
  modules/channel-telegram/src/backend/constants.ts
  modules/channel-telegram/src/backend/index.ts
  modules/channel-telegram/src/backend/typings.ts
  modules/channel-telegram/src/renderers/card.ts
  modules/channel-telegram/src/renderers/carousel.ts
  modules/channel-telegram/src/renderers/choices.ts
  modules/channel-telegram/src/renderers/image.ts
  modules/channel-telegram/src/renderers/index.ts
  modules/channel-telegram/src/renderers/text.ts
  modules/channel-telegram/src/senders/common.ts
  modules/channel-telegram/src/senders/index.ts
  modules/channel-telegram/src/senders/typing.ts
Labels: core/backend

#4868 feat(channel-twilio): use channel renderers
  modules/builtin/src/content-types/card.js
  modules/builtin/src/content-types/carousel.js
  modules/builtin/src/content-types/image.js
  modules/builtin/src/content-types/single_choice.js
  modules/builtin/src/content-types/text.js
  modules/channel-twilio/src/backend/client.ts
  modules/channel-twilio/src/backend/constants.ts
  modules/channel-twilio/src/backend/typings.ts
  modules/channel-twilio/src/renderers/card.ts
  modules/channel-twilio/src/renderers/carousel.ts
  modules/channel-twilio/src/renderers/choices.ts
  modules/channel-twilio/src/renderers/image.ts
  modules/channel-twilio/src/renderers/index.ts
  modules/channel-twilio/src/renderers/text.ts
  modules/channel-twilio/src/senders/common.ts
  modules/channel-twilio/src/senders/index.ts
Labels: module/twillio, module/unified-messaging

#4917 chore(channel-smooch): convert to messaging api
  modules/channel-smooch/src/backend/client.ts
Labels: module/unified-messaging

#4871 feat(channel-slack): use channel renderers
  modules/builtin/src/content-types/card.js
  modules/builtin/src/content-types/carousel.js
  modules/builtin/src/content-types/image.js
  modules/builtin/src/content-types/single_choice.js
  modules/builtin/src/content-types/text.js
  modules/channel-slack/src/backend/client.ts
  modules/channel-slack/src/backend/constants.ts
  modules/channel-slack/src/backend/index.ts
  modules/channel-slack/src/backend/typings.ts
  modules/channel-slack/src/renderers/card.ts
  modules/channel-slack/src/renderers/carousel.ts
  modules/channel-slack/src/renderers/choices.ts
  modules/channel-slack/src/renderers/feedback.ts
  modules/channel-slack/src/renderers/image.ts
  modules/channel-slack/src/renderers/index.ts
  modules/channel-slack/src/renderers/text.ts
  modules/channel-slack/src/senders/common.ts
  modules/channel-slack/src/senders/index.ts
  modules/channel-slack/src/senders/typing.ts
Labels: module/channel-slack, module/unified-messaging

#4793 feat(core): channel renderers
  modules/builtin/src/content-types/_utils.js
  modules/builtin/src/content-types/card.js
  modules/builtin/src/content-types/carousel.js
  modules/builtin/src/content-types/image.js
  modules/builtin/src/content-types/single_choice.js
  modules/builtin/src/content-types/text.js
  modules/channel-slack/src/backend/client.ts
  modules/channel-slack/src/backend/constants.ts
  modules/channel-slack/src/backend/index.ts
  modules/channel-slack/src/backend/typings.ts
  modules/channel-slack/src/renderers/card.ts
  modules/channel-slack/src/renderers/carousel.ts
  modules/channel-slack/src/renderers/choices.ts
  modules/channel-slack/src/renderers/feedback.ts
  modules/channel-slack/src/renderers/image.ts
  modules/channel-slack/src/renderers/index.ts
  modules/channel-slack/src/renderers/text.ts
  modules/channel-slack/src/senders/common.ts
  modules/channel-slack/src/senders/index.ts
  modules/channel-slack/src/senders/typing.ts
  modules/channel-telegram/src/backend/client.ts
  modules/channel-telegram/src/backend/constants.ts
  modules/channel-telegram/src/backend/index.ts
  modules/channel-telegram/src/backend/typings.ts
  modules/channel-telegram/src/renderers/card.ts
  modules/channel-telegram/src/renderers/carousel.ts
  modules/channel-telegram/src/renderers/choices.ts
  modules/channel-telegram/src/renderers/image.ts
  modules/channel-telegram/src/renderers/index.ts
  modules/channel-telegram/src/renderers/text.ts
  modules/channel-telegram/src/senders/common.ts
  modules/channel-telegram/src/senders/index.ts
  modules/channel-telegram/src/senders/typing.ts
  modules/channel-twilio/src/backend/client.ts
  modules/channel-twilio/src/backend/constants.ts
  modules/channel-twilio/src/backend/typings.ts
  modules/channel-twilio/src/renderers/card.ts
  modules/channel-twilio/src/renderers/carousel.ts
  modules/channel-twilio/src/renderers/choices.ts
  modules/channel-twilio/src/renderers/image.ts
  modules/channel-twilio/src/renderers/index.ts
  modules/channel-twilio/src/renderers/text.ts
  modules/channel-twilio/src/senders/common.ts
  modules/channel-twilio/src/senders/index.ts
  src/bp/common/channel.ts
  src/bp/core/app/api.ts
  src/bp/core/app/sdk_impl.ts
  src/bp/core/cms/enums.ts
  src/bp/core/cms/render-service.ts
  src/bp/sdk/botpress.d.ts
Labels: core/backend

#4688 docs(hosting): heroku
  docs/guide/docs/infrastructure/heroku.md
Labels: documentation

#4791 feat(module-builder): add Dockerfile #4790
  .dockerignore
  .github/workflows/module-builder.yml
  build/module-builder/Dockerfile
  docs/guide/docs/advanced/custom-module.md
  src/bp/ui-studio/webpack.web.js
Labels: core/backend, internal

#4923 feat(core): allow middlewares to override timeout limit of runtime duration
  src/bp/core/events/event-engine.ts
  src/bp/core/events/middleware-chain.test.ts
  src/bp/core/events/middleware-chain.ts
  src/bp/sdk/botpress.d.ts
Labels: core/backend

#4935 fix(core): removed empty object in default alerting rules
  src/bp/core/config/botpress.config.ts
  src/bp/core/config/config-loader.ts
  src/bp/migrations/v12_21_2-1620240653-fix_empty_alerting_rules.ts
Labels: bug, core/configuration

#4934 chore(core): move last remaining services
  src/bp/bpfs_recovery.ts
  src/bp/common/polyfills/index.ts
  src/bp/common/polyfills/string.ts
  src/bp/core/app/bootstrap.ts
  src/bp/core/app/server.ts
  src/bp/core/app/server_utils.ts
  src/bp/core/bpfs/cache-invalidators.ts
  src/bp/core/bpfs/drivers/db-driver.test.ts
  src/bp/core/bpfs/drivers/db-driver.ts
  src/bp/core/bpfs/drivers/disk-driver.ts
  src/bp/core/bpfs/ghost-service.test.ts
  src/bp/core/bpfs/ghost-service.ts
  src/bp/core/bpfs/ghost.inversify.ts
  src/bp/core/bpfs/index.ts
  src/bp/core/bpfs/memory-cache.ts
  src/bp/core/dialog/decision-engine.ts
  src/bp/core/dialog/dialog-engine.ts
  src/bp/core/dialog/dialog.inversify.ts
  src/bp/core/dialog/engine.__test__.ts
  src/bp/core/dialog/errors.ts
  src/bp/core/dialog/flow/flow-service.ts
  src/bp/core/dialog/flow/navigator.ts
  src/bp/core/dialog/index.ts
  src/bp/core/dialog/instruction/factory.test.ts
  src/bp/core/dialog/instruction/factory.ts
  src/bp/core/dialog/instruction/index.ts
  src/bp/core/dialog/instruction/processor.ts
  src/bp/core/dialog/instruction/queue.test.ts
  src/bp/core/dialog/instruction/queue.ts
  src/bp/core/dialog/instruction/strategy.ts
  src/bp/core/dialog/janitor.ts
  src/bp/core/dialog/queue-builder.ts
  src/bp/core/dialog/sessions/session-repository.ts
  src/bp/core/dialog/skill-service.ts
  src/bp/core/dialog/state-manager.ts
  src/bp/core/dialog/utils/stubs.ts
  src/bp/core/dialog/utils/validator.ts
  src/bp/core/services/ghost/index.ts
  src/bp/core/user-code/action-service.ts
  src/bp/studio/studio-router.ts
  src/typings/string.d.ts
Labels: core/backend

#4919 feat(channel-smooch): use channel renderers
  modules/builtin/src/content-types/card.js
  modules/builtin/src/content-types/carousel.js
  modules/builtin/src/content-types/image.js
  modules/builtin/src/content-types/single_choice.js
  modules/builtin/src/content-types/text.js
  modules/channel-smooch/src/backend/client.ts
  modules/channel-smooch/src/backend/constants.ts
  modules/channel-smooch/src/backend/typings.ts
  modules/channel-smooch/src/renderers/card.ts
  modules/channel-smooch/src/renderers/carousel.ts
  modules/channel-smooch/src/renderers/choices.ts
  modules/channel-smooch/src/renderers/image.ts
  modules/channel-smooch/src/renderers/index.ts
  modules/channel-smooch/src/renderers/text.ts
  modules/channel-smooch/src/senders/common.ts
  modules/channel-smooch/src/senders/index.ts
  modules/channel-smooch/src/senders/typing.ts
Labels: module/channel-smooch

#4929 feat(channel-vonage): use channel renders
  modules/builtin/src/content-types/audio.js
  modules/builtin/src/content-types/card.js
  modules/builtin/src/content-types/carousel.js
  modules/builtin/src/content-types/image.js
  modules/builtin/src/content-types/single_choice.js
  modules/builtin/src/content-types/text.js
  modules/builtin/src/content-types/video.js
  modules/channel-vonage/src/backend/client.ts
  modules/channel-vonage/src/backend/typings.ts
  modules/channel-vonage/src/renderers/audio.ts
  modules/channel-vonage/src/renderers/card.ts
  modules/channel-vonage/src/renderers/carousel.ts
  modules/channel-vonage/src/renderers/choices.ts
  modules/channel-vonage/src/renderers/image.ts
  modules/channel-vonage/src/renderers/index.ts
  modules/channel-vonage/src/renderers/text.ts
  modules/channel-vonage/src/renderers/video.ts
  modules/channel-vonage/src/senders/common.ts
  modules/channel-vonage/src/senders/index.ts
  modules/channel-vonage/src/senders/typing.ts
Labels: module/channel-vonage

#4876 feat(google-speech): add google speech module
  build/module-builder/package.json
  build/module-builder/yarn.lock
  modules/channel-vonage/src/backend/client.ts
  modules/google-speech/.gitignore
  modules/google-speech/README.md
  modules/google-speech/package.json
  modules/google-speech/src/backend/audio.ts
  modules/google-speech/src/backend/client.ts
  modules/google-speech/src/backend/constants.ts
  modules/google-speech/src/backend/index.ts
  modules/google-speech/src/backend/middleware.ts
  modules/google-speech/src/backend/typings.ts
  modules/google-speech/src/backend/utils.ts
  modules/google-speech/src/config.ts
  modules/google-speech/src/views/full/index.jsx
  modules/google-speech/src/views/lite/index.jsx
  modules/google-speech/tsconfig.json
  modules/google-speech/yarn.lock
  src/bp/common/number.test.ts
  src/bp/common/number.ts
Labels: module/google-speech

#4914 feat(channel-vonage): add support for file reception
  modules/channel-vonage/README.md
  modules/channel-vonage/src/actions/storeFileLocally.js
  modules/channel-vonage/src/backend/client.ts
  modules/channel-vonage/src/backend/typings.ts
  modules/channel-vonage/src/renderers/audio.ts
  modules/channel-vonage/src/renderers/video.ts
  modules/channel-vonage/src/senders/common.ts
  src/bp/core/app/api.ts
  src/bp/core/cms/render-service.ts
  src/bp/core/events/event-engine.ts
  src/bp/sdk/botpress.d.ts
Labels: module/channel-vonage

#4932 chore(docs): create managing bots & users section
  docs/guide/docs/assets/add-role.png
  docs/guide/docs/assets/password-change.png
  docs/guide/docs/assets/rbac-success.png
  docs/guide/docs/assets/roles.png
  docs/guide/docs/assets/sso-google.png
  docs/guide/docs/managing/authentication.md
  docs/guide/docs/managing/hitl.md
  docs/guide/docs/managing/monitoring.md
  docs/guide/docs/managing/proactive.md
  docs/guide/docs/managing/rbac.md
  docs/guide/website/sidebars.json
Labels: documentation

#4911 chore(docs): update converse.md
  docs/guide/docs/channels/converse.md
Labels: documentation

#4864 chore(docs): update configuration
  docs/guide/docs/infrastructure/configuration.md
  docs/guide/website/sidebars.json
Labels: documentation

#4942 fix(nlu): prediction error logging
  modules/nlu/src/backend/application/scoped/prediction-handler.ts
Labels: core/nlu

#4925 fix(studio): right sidebar UI fixes
  src/bp/ui-shared/src/MainLayout/Toolbar/style.scss
  src/bp/ui-studio/src/web/components/Shared/Interface/index.tsx
  src/bp/ui-studio/src/web/views/FlowBuilder/inspector/index.tsx
  src/bp/ui-studio/src/web/views/FlowBuilder/inspector/style.scss
  src/bp/ui-studio/src/web/views/FlowBuilder/inspector/style.scss.d.ts
  src/bp/ui-studio/src/web/views/FlowBuilder/nodeProps/ActionSection.jsx
  src/bp/ui-studio/src/web/views/FlowBuilder/nodeProps/style.scss
  src/bp/ui-studio/src/web/views/FlowBuilder/nodeProps/style.scss.d.ts
  src/bp/ui-studio/src/web/views/FlowBuilder/sidePanelFlows/index.tsx
  src/bp/ui-studio/src/web/views/FlowBuilder/sidePanelFlows/style.scss
  src/bp/ui-studio/src/web/views/FlowBuilder/sidePanelFlows/style.scss.d.ts
Labels: ui/studio

#4985 chore(docs): fix .env names
  docs/guide/docs/infrastructure/cluster-digital-ocean.md
  docs/guide/docs/infrastructure/cluster.md
  docs/guide/docs/infrastructure/configuration.md
Labels: documentation

#4995 feat(channel-web): add support for voice messages
  modules/channel-web/package.json
  modules/channel-web/src/backend/api.ts
  modules/channel-web/src/views/lite/components/Composer.tsx
  modules/channel-web/src/views/lite/components/VoiceRecorder.tsx
  modules/channel-web/src/views/lite/components/messages/Message.tsx
  modules/channel-web/src/views/lite/components/messages/MessageGroup.tsx
  modules/channel-web/src/views/lite/components/messages/renderer/VoiceMessage.tsx
  modules/channel-web/src/views/lite/components/messages/renderer/index.tsx
  modules/channel-web/src/views/lite/core/api.tsx
  modules/channel-web/src/views/lite/store/index.ts
  modules/channel-web/src/views/lite/typings.d.ts
  modules/channel-web/src/views/tsconfig.json
  modules/channel-web/yarn.lock
  modules/google-speech/src/backend/audio.ts
  modules/google-speech/src/backend/client.ts
  modules/google-speech/src/backend/constants.ts
  modules/google-speech/src/backend/middleware.ts
  modules/google-speech/src/backend/typings.ts
  modules/ndu/yarn.lock
  src/bp/ui-shared-lite/Icons/Cancel.tsx
  src/bp/ui-shared-lite/package.json
  src/bp/ui-shared-lite/yarn.lock
Labels: module/channel-web

#4910 chore(module-builder): fix/workaround TS2532
  modules/hitl/src/backend/db.ts
  modules/qna/src/views/full/Components/TextAreaList.tsx
Labels: core/backend, internal

#5010 fix(nlu): no more nlu token when nlu server is auto started
  modules/nlu/src/backend/bootstrap.ts
  src/bp/common/nlu-token.ts
  src/bp/core/app/botpress.ts
  src/typings/global.d.ts
Labels: nlu server

#4946 chore(docs): update rbac
  docs/guide/docs/assets/botpress-enterprise-feature.png
  docs/guide/docs/assets/change-role.png
  docs/guide/docs/assets/rbac-roles.png
  docs/guide/docs/managing/rbac.md
Labels: documentation

#5021 chore(channels): dropdown support
  modules/channel-messenger/src/backend/messenger.ts
  modules/channel-messenger/src/renderers/dropdown.ts
  modules/channel-messenger/src/renderers/index.ts
  modules/channel-slack/src/backend/client.ts
  modules/channel-slack/src/renderers/dropdown.ts
  modules/channel-slack/src/renderers/index.ts
  modules/channel-smooch/src/backend/client.ts
  modules/channel-smooch/src/renderers/dropdown.ts
  modules/channel-smooch/src/renderers/index.ts
  modules/channel-telegram/src/backend/client.ts
  modules/channel-telegram/src/renderers/dropdown.ts
  modules/channel-telegram/src/renderers/index.ts
  modules/channel-twilio/src/backend/client.ts
  modules/channel-twilio/src/renderers/dropdown.ts
  modules/channel-twilio/src/renderers/index.ts
  modules/channel-vonage/src/backend/client.ts
  modules/channel-vonage/src/renderers/dropdown.ts
  modules/channel-vonage/src/renderers/index.ts
  modules/extensions/src/content-types/dropdown.js
Labels: module/channel-slack

#5033 fix(docs): wrong saml URLs
  docs/guide/docs/managing/authentication.md
Labels: documentation

#5028 fix(ndu): fix blank page in flow editor
  src/bp/ui-studio/src/web/reducers/selectors.ts
Labels: module/ndu

#4569 fix(core): invalidate module config cache on file change
  src/bp/core/modules/config-reader.ts
  src/bp/core/modules/module-loader.ts
Labels: module/unified-messaging, proposal

#5026 feat(studio): allow copying multiple nodes
  src/bp/ui-studio/src/web/actions/index.ts
  src/bp/ui-studio/src/web/reducers/flows.ts
  src/bp/ui-studio/src/web/views/FlowBuilder/diagram/index.tsx
  src/bp/ui-studio/src/web/views/FlowBuilder/sidePanelTopics/form/SaySomethingForm.tsx
  src/e2e/studio/flows.test.ts
Labels: ui/studio/flow
