Repository botpress/botpress, pull requests merged in 2021-04, with the labels that each got.

#4794 fix(core): database migration path
  src/bp/core/migration/migration-service.test.ts
  src/bp/core/migration/migration-service.ts
Labels: core/database

#4804 fix(studio): allow to scroll content of action overlay popover
  src/bp/ui-studio/src/web/translations/en.json
  src/bp/ui-studio/src/web/translations/es.json
  src/bp/ui-studio/src/web/translations/fr.json
  src/bp/ui-studio/src/web/views/FlowBuilder/common/action.tsx
  src/bp/ui-studio/src/web/views/FlowBuilder/common/actionPopover.tsx
  src/bp/ui-studio/yarn.lock
Labels: ui/studio/flow

#4812 chore(core): mapping only for conversations
  src/bp/core/app/api.ts
  src/bp/core/mapping/mapping-repository.ts
  src/bp/core/mapping/mapping-table.ts
  src/bp/core/messaging/conversation-service.ts
  src/bp/migrations/v12_21_0-1617829329-mapping_migration.ts
  src/bp/sdk/botpress.d.ts
Labels: core/dialog

#4815 feat(core): conversation attributes
  src/bp/core/app/inversify/repositories.inversify.ts
  src/bp/core/attributes/attributes-repository.ts
  src/bp/core/attributes/attributes-table.ts
  src/bp/core/database/database-tables.ts
  src/bp/core/messaging/conversation-service.ts
  src/bp/core/types.ts
  src/bp/sdk/botpress.d.ts
Labels: core/dialog

#4820 feat(studio): add support for video content-type
  modules/builtin/src/content-types/video.js
  modules/builtin/src/translations/en.json
  modules/builtin/src/translations/es.json
  modules/builtin/src/translations/fr.json
  src/bp/ui-shared/src/FileDisplay/index.tsx
  src/bp/ui-shared/src/FileDisplay/style.scss
  src/bp/ui-shared/src/FileDisplay/style.scss.d.ts
  src/bp/ui-shared/src/FileDisplay/typings.d.ts
  src/bp/ui-shared/src/Form/FormFields/typings.d.ts
  src/bp/ui-shared/src/typings.d.ts
  src/bp/ui-studio/src/web/components/ContentForm/UploadWidget/UrlUpload.tsx
  src/bp/ui-studio/src/web/components/ContentForm/UploadWidget/index.tsx
  src/bp/ui-studio/src/web/components/ContentForm/index.tsx
Labels: ui/studio

#4826 chore(nlu): rm notion of training session inside stan
  modules/nlu/src/backend/stan/client.ts
  modules/nlu/src/backend/stan/typings.d.ts
  src/bp/nlu/engine/engine/training-worker-queue/communication.ts
  src/bp/nlu/engine/engine/training-worker-queue/index.ts
  src/bp/nlu/ml/ml-thread-index.ts
  src/bp/nlu/ml/ml-thread-pool.ts
  src/bp/nlu/stan/api.ts
  src/bp/nlu/stan/train-service.ts
  src/bp/nlu/stan/train-session-service.ts
  src/bp/nlu/stan/typings_v1.d.ts
  src/bp/nlu/utils/error-utils.ts
Labels: core/nlu

#4830 fix(core): use relative file path for media files
  src/bp/admin/user/user-router.ts
  src/bp/core/media/providers/ghost-media-service.ts
  src/bp/ui-shared/src/Form/FormFields/Upload.tsx
Labels: core/backend, ui/admin

#4829 chore(nlu): stan uses a simple ghost
  build/nlu-regression/index.js
  modules/libraries/package-lock.json
  package.json
  src/bp/index.ts
  src/bp/nlu/engine/model-id-service.ts
  src/bp/nlu/stan/api.ts
  src/bp/nlu/stan/index.ts
  src/bp/nlu/stan/model-repo.ts
  src/bp/nlu/stan/simple-ghost/database/db.ts
  src/bp/nlu/stan/simple-ghost/database/helpers.ts
  src/bp/nlu/stan/simple-ghost/database/tables.ts
  src/bp/nlu/stan/simple-ghost/db-driver.ts
  src/bp/nlu/stan/simple-ghost/disk-driver.ts
  src/bp/nlu/stan/simple-ghost/ghost.ts
  src/bp/nlu/stan/simple-ghost/index.ts
  src/bp/nlu/stan/simple-ghost/memory-cache.ts
  src/bp/nlu/stan/simple-ghost/misc.ts
  src/bp/nlu/stan/train-service.ts
  yarn.lock
Labels: stan

#4686 docs(hosting): build from source
  docs/guide/docs/infrastructure/deploying.md
Labels: documentation

#4687 docs(hosting): docker
  docs/guide/docs/assets/docker-new-instance.png
  docs/guide/docs/assets/docker-restart.png
  docs/guide/docs/assets/restart-cog.png
  docs/guide/docs/infrastructure/docker.md
Labels: documentation

#4764 fix(channel-web): don't list convos with no events
  modules/channel-web/src/backend/db.ts
Labels: module/channel-web

#4684 docs(hosting): amazon web services
  docs/guide/docs/infrastructure/amazon.md
  docs/guide/docs/infrastructure/hosting.md
  docs/guide/website/sidebars.json
Labels: documentation

#4841 chore(docs): ubuntu build error resolution
  docs/guide/docs/infrastructure/deploying.md
Labels: documentation

#4840 chore(core): remove attributes
  src/bp/core/app/inversify/repositories.inversify.ts
  src/bp/core/attributes/attributes-repository.ts
  src/bp/core/attributes/attributes-table.ts
  src/bp/core/database/database-tables.ts
  src/bp/core/messaging/conversation-service.ts
  src/bp/core/types.ts
  src/bp/sdk/botpress.d.ts
Labels: core/backend

#4839 chore(dev): update admin libraries
  src/bp/admin/ui/config-overrides.js
  src/bp/admin/ui/package.json
  src/bp/admin/ui/src/index.tsx
  src/bp/admin/ui/src/management/checklist/DiagReport.tsx
  src/bp/admin/ui/tsconfig.json
  src/bp/admin/ui/yarn.lock
Labels: ui/admin

#4847 chore(nlu): usage of stan typings in all engine
  build/nlu-regression/current_scores/bpds-intent.json
  build/nlu-regression/current_scores/bpds-slots.json
  build/nlu-regression/current_scores/bpds-spell.json
  build/nlu-regression/current_scores/clinc150.json
  modules/nlu/src/backend/application/scoped/bot.ts
  modules/nlu/src/backend/application/scoped/definitions-service.ts
  modules/nlu/src/backend/application/scoped/prediction-handler.ts
  modules/nlu/src/backend/application/tests/app-integration.test.ts
  modules/nlu/src/backend/election/spellcheck-handler.ts
  modules/nlu/src/backend/stan/api-mapper.ts
  modules/nlu/src/backend/stan/typings.d.ts
  src/bp/nlu/engine/engine/index.ts
  src/bp/nlu/engine/engine/predict-pipeline.ts
  src/bp/nlu/engine/model-id-service.test.ts
  src/bp/nlu/engine/model-id-service.ts
  src/bp/nlu/engine/typings.ts
  src/bp/nlu/stan/api-mapper.ts
  src/bp/nlu/stan/api.ts
  src/bp/nlu/stan/train-service.ts
  src/bp/nlu/stan/train-session-service.ts
  src/bp/nlu/stan/validation/validate.test.ts
  src/bp/nlu/stan/validation/validate.ts
  src/bp/nlu/typings_v1.d.ts
  src/bp/nlu/utils/guards.ts
  src/bp/sdk/botpress.d.ts
Labels: core/nlu, stan

#4836 fix(hitlnext): send webSessionId when assigning handoff
  modules/channel-web/src/backend/api.ts
  modules/hitlnext/src/backend/api.ts
  modules/hitlnext/src/views/client.ts
  modules/hitlnext/src/views/full/style.scss
Labels: module/hitlnext(beta)

#4843 chore(nlu): add missing routes to Stan
  src/bp/nlu/stan/api.rest
  src/bp/nlu/stan/api.ts
  src/bp/nlu/stan/index.ts
  src/bp/nlu/stan/model-repo.ts
  src/bp/nlu/stan/train-session-service.ts
  src/bp/nlu/stan/validation/schemas.ts
  src/bp/nlu/stan/validation/validate.ts
  src/bp/nlu/typings_v1.d.ts
Labels: stan

#4827 feat(channel-smooch): add content support
  modules/channel-smooch/src/backend/client.ts
  modules/channel-smooch/src/config.ts
Labels: module/channel-smooch

#4781 chore(channel-telegram): convert to messaging api
  modules/channel-telegram/src/backend/client.ts
Labels: module/unified-messaging

#4798 chore(channel-twilio): convert to messaging api
  modules/channel-twilio/src/backend/client.ts
Labels: module/unified-messaging

#4852 chore(docs): clustering
  docs/guide/docs/assets/bp-cluster.png
  docs/guide/docs/assets/http-interfaces.png
  docs/guide/docs/infrastructure/cluster.md
Labels: documentation

#4851 chore(nlu): make a single NLU sdk with only relevent types
  build/nlu-regression/current_scores/bpds-intent.json
  build/nlu-regression/current_scores/bpds-slots.json
  build/nlu-regression/current_scores/bpds-spell.json
  build/nlu-regression/current_scores/clinc150.json
  modules/nlu-testing/src/bot-templates/bp-nlu-regression-testing/latest-results.csv
  modules/nlu-testing/src/bot-templates/bp-nlu-slot-extraction/latest-results.csv
  modules/nlu/src/backend/application/scoped/prediction-handler.ts
  modules/nlu/src/backend/application/tests/app-integration.test.ts
  modules/nlu/src/backend/application/tests/cluster-integration.test.ts
  modules/nlu/src/backend/application/tests/prediction-handler.test.ts
  modules/nlu/src/backend/application/tests/utils/app.u.test.ts
  modules/nlu/src/backend/application/tests/utils/custom-expects.u.test.ts
  modules/nlu/src/backend/application/tests/utils/fake-engine.u.test.ts
  modules/nlu/src/backend/stan/api-mapper.ts
  modules/nlu/src/backend/stan/client.ts
  modules/nlu/src/backend/stan/typings.d.ts
  src/bp/nlu/engine/engine/index.ts
  src/bp/nlu/engine/engine/initialize-tools.ts
  src/bp/nlu/engine/engine/language/language-provider.ts
  src/bp/nlu/engine/engine/predict-pipeline.ts
  src/bp/nlu/engine/engine/typings.ts
  src/bp/nlu/engine/model-id-service.test.ts
  src/bp/nlu/engine/model-id-service.ts
  src/bp/nlu/engine/typings.ts
  src/bp/nlu/stan/api.ts
  src/bp/nlu/stan/http-typings.ts
  src/bp/nlu/stan/train-service.ts
  src/bp/nlu/stan/train-session-service.ts
  src/bp/nlu/stan/validation/validate.test.ts
  src/bp/nlu/stan/validation/validate.ts
  src/bp/nlu/typings_v1.d.ts
Labels: core/nlu, module/nlu, stan

#4849 feat(nlu): Auto start STAN subprocess when no STANUrl is defined
  modules/nlu/src/config.ts
  package.json
  src/bp/cluster.ts
  src/bp/core/app/bootstrap.ts
  src/bp/core/app/botpress.ts
  src/bp/nlu/stan/index.ts
  yarn.lock
Labels: stan

#4854 chore(docs): update hosting
  docs/guide/docs/infrastructure/database.md
  docs/guide/docs/infrastructure/hosting.md
Labels: documentation

#4859 chore(nlu): replace in-memory engine by stan client
  modules/nlu-testing/src/bot-templates/bp-nlu-regression-testing/latest-results.csv
  modules/nlu-testing/src/bot-templates/bp-nlu-slot-extraction/latest-results.csv
  modules/nlu/src/backend/api.ts
  modules/nlu/src/backend/application/bot-factory.ts
  modules/nlu/src/backend/application/distributed-training-queue.ts
  modules/nlu/src/backend/application/index.ts
  modules/nlu/src/backend/application/scoped/bot.ts
  modules/nlu/src/backend/application/scoped/definitions-service.ts
  modules/nlu/src/backend/application/scoped/infrastructure/definitions-repository.ts
  modules/nlu/src/backend/application/scoped/infrastructure/model-repository.ts
  modules/nlu/src/backend/application/scoped/prediction-handler.ts
  modules/nlu/src/backend/application/tests/app-integration.test.ts
  modules/nlu/src/backend/application/tests/app-unit.test.ts
  modules/nlu/src/backend/application/tests/cluster-integration.test.ts
  modules/nlu/src/backend/application/tests/prediction-handler.test.ts
  modules/nlu/src/backend/application/tests/utils/app.u.test.ts
  modules/nlu/src/backend/application/tests/utils/custom-expects.u.test.ts
  modules/nlu/src/backend/application/tests/utils/fake-engine.u.test.ts
  modules/nlu/src/backend/application/tests/utils/fake-model-repo.u.test.ts
  modules/nlu/src/backend/application/tests/utils/sdk.u.test.ts
  modules/nlu/src/backend/application/tests/utils/utils.u.test.ts
  modules/nlu/src/backend/application/training-queue.ts
  modules/nlu/src/backend/application/typings.ts
  modules/nlu/src/backend/bootstrap.ts
  modules/nlu/src/backend/election/index.ts
  modules/nlu/src/backend/middlewares.ts
  modules/nlu/src/backend/stan/api-mapper.ts
  modules/nlu/src/backend/stan/client.ts
  modules/nlu/src/backend/stan/errors.ts
  modules/nlu/src/backend/stan/http-typings.ts
  modules/nlu/src/backend/stan/index.ts
  modules/nlu/src/backend/stan/model-id-service.ts
  modules/nlu/src/backend/stan/typings_v1.d.ts
  modules/nlu/src/config.ts
  modules/nlu/src/migrations/v12_7_1-1583507028-prune_and_compress_models.ts
  src/bp/common/nlu/engine.ts
  src/bp/nlu/stan/api.ts
Labels: stan

#4866 chore(studio): moved nlu ui studio
  jest.config.js
  modules/nlu/src/backend/index.ts
  modules/nlu/src/translations/en.json
  modules/nlu/src/translations/es.json
  modules/nlu/src/translations/fr.json
  modules/nlu/src/views/full/index.tsx
  modules/nlu/src/views/full/intents/utterances-state-utils.test.ts
  modules/nlu/src/views/lite/index.jsx
  modules/nlu/src/views/lite/index.tsx
  src/bp/ui-studio/package.json
  src/bp/ui-studio/src/web/components/Layout/Sidebar.tsx
  src/bp/ui-studio/src/web/components/Layout/Toolbar/index.tsx
  src/bp/ui-studio/src/web/components/Layout/index.tsx
  src/bp/ui-studio/src/web/components/Shared/Interface/typings.d.ts
  src/bp/ui-studio/src/web/translations/en.json
  src/bp/ui-studio/src/web/translations/es.json
  src/bp/ui-studio/src/web/translations/fr.json
  src/bp/ui-studio/src/web/views/Nlu/SidePanel.tsx
  src/bp/ui-studio/src/web/views/Nlu/client.ts
  src/bp/ui-studio/src/web/views/Nlu/entities/EntityEditor.tsx
  src/bp/ui-studio/src/web/views/Nlu/entities/EntityNameModal.tsx
  src/bp/ui-studio/src/web/views/Nlu/entities/ListEntity.tsx
  src/bp/ui-studio/src/web/views/Nlu/entities/ListEntityOccurrence.tsx
  src/bp/ui-studio/src/web/views/Nlu/entities/PatternEntity.tsx
  src/bp/ui-studio/src/web/views/Nlu/entities/SidePanelSection.tsx
  src/bp/ui-studio/src/web/views/Nlu/entities/style.scss
  src/bp/ui-studio/src/web/views/Nlu/entities/style.scss.d.ts
  src/bp/ui-studio/src/web/views/Nlu/index.tsx
  src/bp/ui-studio/src/web/views/Nlu/intents/ContextSelector.tsx
  src/bp/ui-studio/src/web/views/Nlu/intents/FullEditor.tsx
  src/bp/ui-studio/src/web/views/Nlu/intents/IntentDropdown.tsx
  src/bp/ui-studio/src/web/views/Nlu/intents/IntentHint.tsx
  src/bp/ui-studio/src/web/views/Nlu/intents/LiteEditor.tsx
  src/bp/ui-studio/src/web/views/Nlu/intents/NameModal.tsx
  src/bp/ui-studio/src/web/views/Nlu/intents/SidePanelSection.tsx
  src/bp/ui-studio/src/web/views/Nlu/intents/UtterancesEditor.tsx
  src/bp/ui-studio/src/web/views/Nlu/intents/slots/EntitySelector.tsx
  src/bp/ui-studio/src/web/views/Nlu/intents/slots/SlotItem.tsx
  src/bp/ui-studio/src/web/views/Nlu/intents/slots/SlotModal.tsx
  src/bp/ui-studio/src/web/views/Nlu/intents/slots/SlotPopover.tsx
  src/bp/ui-studio/src/web/views/Nlu/intents/slots/Slots.tsx
  src/bp/ui-studio/src/web/views/Nlu/intents/slots/style.scss.d.ts
  src/bp/ui-studio/src/web/views/Nlu/intents/slots/typings.ts
  src/bp/ui-studio/src/web/views/Nlu/intents/style.scss
  src/bp/ui-studio/src/web/views/Nlu/intents/style.scss.d.ts
  src/bp/ui-studio/src/web/views/Nlu/intents/utterances-state-utils.test.ts
  src/bp/ui-studio/src/web/views/Nlu/intents/utterances-state-utils.ts
  src/bp/ui-studio/src/web/views/Nlu/style.scss
  src/bp/ui-studio/src/web/views/Nlu/style.scss.d.ts
  src/bp/ui-studio/tsconfig.json
  src/bp/ui-studio/yarn.lock
  src/e2e/all.test.ts
  src/e2e/studio/cms.test.ts
  src/e2e/studio/flows.test.ts
  src/e2e/studio/nlu.test.ts
  src/e2e/studio/ui.test.ts
Labels: module/nlu, ui/studio

#4816 feat(studio): add support for audio and video content-types
  modules/builtin/src/content-types/audio.js
  modules/builtin/src/content-types/image.js
  modules/builtin/src/content-types/video.js
  modules/builtin/src/translations/en.json
  modules/builtin/src/translations/es.json
  modules/builtin/src/translations/fr.json
  package.json
  src/bp/admin/ui/src/user/UpdateUserProfile.tsx
  src/bp/core/config/botpress.config.ts
  src/bp/core/media/media-router.ts
  src/bp/core/routers/util.ts
  src/bp/migrations/v12_21_0-1617991670-add_audio_and_video_mime_types_to_config.ts
  src/bp/migrations/v12_21_0-1618260392-bot_content_type_update.ts
  src/bp/studio/actions/actions-router.ts
  src/bp/studio/flows/flows-router.ts
  src/bp/studio/logs/logs-router.ts
  src/bp/studio/media/media-router.ts
  src/bp/studio/notifications/notifications-router.ts
  src/bp/studio/studio-router.ts
  src/bp/studio/topics/topics-router.ts
  src/bp/ui-shared-lite/style.scss
  src/bp/ui-shared-lite/style.scss.d.ts
  src/bp/ui-shared/src/FileDisplay/index.tsx
  src/bp/ui-shared/src/FileDisplay/style.scss
  src/bp/ui-shared/src/FileDisplay/style.scss.d.ts
  src/bp/ui-shared/src/FileDisplay/typings.d.ts
  src/bp/ui-shared/src/Form/FormFields/Upload.tsx
  src/bp/ui-shared/src/Form/FormFields/style.scss
  src/bp/ui-shared/src/Form/FormFields/style.scss.d.ts
  src/bp/ui-shared/src/Form/FormFields/typings.d.ts
  src/bp/ui-shared/src/Form/index.tsx
  src/bp/ui-shared/src/index.tsx
  src/bp/ui-shared/src/translations/en.json
  src/bp/ui-shared/src/translations/es.json
  src/bp/ui-shared/src/translations/fr.json
  src/bp/ui-shared/src/typings.d.ts
  src/bp/ui-studio/src/web/components/ContentForm/UploadWidget/DeletableImage.tsx
  src/bp/ui-studio/src/web/components/ContentForm/UploadWidget/UrlUpload.tsx
  src/bp/ui-studio/src/web/components/ContentForm/UploadWidget/index.tsx
  src/bp/ui-studio/src/web/components/ContentForm/index.tsx
  src/bp/ui-studio/src/web/components/ContentForm/style.scss
  src/bp/ui-studio/src/web/components/ContentForm/style.scss.d.ts
  src/bp/ui-studio/src/web/views/FlowBuilder/sidePanelTopics/form/style.scss
  src/bp/ui-studio/src/web/views/FlowBuilder/sidePanelTopics/form/style.scss.d.ts
  yarn.lock
Labels: ui/studio

#4882 fix(docs): remove warning about Custom Modules
  docs/guide/website/versioned_docs/version-11.0.1/create-module.md
  docs/guide/website/versioned_docs/version-11.2.0/create-module.md
  docs/guide/website/versioned_docs/version-11.5.1/developers/create-module.md
  docs/guide/website/versioned_docs/version-11.6.0/developers/create-module.md
Labels: documentation

#4833 fix(code): fix for CVE-2020-7743
  build/nlu-regression/current_scores/bpds-intent.json
  build/nlu-regression/current_scores/bpds-slots.json
  build/nlu-regression/current_scores/bpds-spell.json
  build/nlu-regression/current_scores/clinc150.json
  modules/nlu-testing/src/bot-templates/bp-nlu-regression-testing/latest-results.csv
  modules/nlu-testing/src/bot-templates/bp-nlu-slot-extraction/latest-results.csv
  modules/nlu/package.json
  modules/nlu/yarn.lock
  package.json
  yarn.lock
Labels: core/security

#4789 feat(channel-vonage): add channel-vonage
  modules/builtin/src/content-types/audio.js
  modules/builtin/src/content-types/single_choice.js
  modules/builtin/src/content-types/video.js
  modules/channel-vonage/.gitignore
  modules/channel-vonage/README.md
  modules/channel-vonage/assets/config.schema.json
  modules/channel-vonage/package.json
  modules/channel-vonage/src/backend/api.ts
  modules/channel-vonage/src/backend/client.ts
  modules/channel-vonage/src/backend/index.ts
  modules/channel-vonage/src/backend/typings.ts
  modules/channel-vonage/src/config.ts
  modules/channel-vonage/src/views/full/index.jsx
  modules/channel-vonage/src/views/lite/index.jsx
  modules/channel-vonage/tsconfig.json
  modules/channel-vonage/yarn.lock
  src/bp/common/http.ts
  src/bp/common/url.ts
Labels: module/channel-vonage

#4715 feat(core): remove redundant read/writes to flow files
  src/bp/common/array-cache.test.ts
  src/bp/common/array-cache.ts
  src/bp/core/services/dialog/flow/service.ts
  src/bp/core/services/ghost/cache-invalidators.ts
Labels: ui/studio/flow

#4858 chore(channel-slack): convert to messaging api
  modules/channel-slack/src/backend/client.ts
Labels: module/channel-slack, module/unified-messaging

#4861 chore(docs):update table of contents for new infra topics
  docs/guide/website/sidebars.json
Labels: documentation

#4850 chore(docs): digital ocean cluster
  docs/guide/docs/infrastructure/cluster-digital-ocean.md
  docs/guide/docs/infrastructure/docker.md
  docs/guide/website/sidebars.json
Labels: documentation

#4862 chore(docs):change confidence threshold
  docs/guide/docs/advanced/configuration.md
Labels: documentation

#4855 fix(converse): wait for outgoing events before sending response
  src/bp/core/converse/converse-service.ts
  src/bp/core/events/event-engine.ts
  src/bp/core/events/queue/index.ts
  src/bp/core/events/queue/memory-queue.ts
Labels: core/converse

#4902 fix(channel-web): fix conversationId validation bypass
  modules/channel-web/src/backend/api.ts
Labels: bug, module/channel-web

#4860 chore(channel-teams): convert to messaging api
  modules/channel-teams/src/backend/client.ts
Labels: module/channel-teams, module/unified-messaging

#4894 chore(core): expressjs use res.sendStatus
  modules/nlu-testing/src/backend/api.ts
  src/bp/core/routers/bots/nlu.ts
  src/bp/studio/flows/flows-router.ts
Labels: core/backend

#4889 chore(dev): better ui for admin panel
  src/bp/admin/ui/src/app/Menu/index.tsx
  src/bp/admin/ui/src/app/Menu/style.scss
  src/bp/admin/ui/src/app/Menu/style.scss.d.ts
  src/bp/admin/ui/src/app/WorkspaceSelect/style.scss
  src/bp/admin/ui/src/app/common/PageContainer/index.tsx
  src/bp/admin/ui/src/app/common/PageContainer/style.scss
  src/bp/admin/ui/src/app/common/PageContainer/style.scss.d.ts
  src/bp/admin/ui/src/app/common/table.scss
  src/bp/admin/ui/src/app/index.tsx
  src/bp/admin/ui/src/app/style.scss
  src/bp/admin/ui/src/app/style.scss.d.ts
  src/bp/admin/ui/src/management/languages/Language.tsx
  src/bp/admin/ui/src/style.scss
  src/bp/admin/ui/src/user/UserDropdownMenu.tsx
Labels: ui/admin

#4900 chore(nlu): pass all required options to standalone NLU
  modules/nlu/src/backend/bootstrap.ts
  modules/nlu/src/backend/stan/client.ts
  modules/nlu/src/config.ts
  src/bp/cluster.ts
  src/bp/core/app/botpress.ts
  src/bp/nlu/stan/api.ts
  src/bp/nlu/stan/config.ts
  src/bp/nlu/stan/index.ts
  src/bp/stan-launcher.ts
Labels: Stand-alone NLU

#4904 fix(core): fix botconfig migration
  src/bp/migrations/v12_21_0-1618260392-bot_content_type_update.ts
  src/bp/migrations/v12_21_1-1618260400-bot_content_type_update.ts
Labels: core/configuration

#4901 fix(channel-vonage): fix sending image content-elements
  modules/channel-vonage/src/backend/client.ts
Labels: bug, module/channel-vonage

#4903 feat(admin): move realtime logs to admin
  src/bp/admin/ui/package.json
  src/bp/admin/ui/src/app/BottomPanel/Logs/BotDropdown.tsx
  src/bp/admin/ui/src/app/BottomPanel/Logs/Debug.tsx
  src/bp/admin/ui/src/app/BottomPanel/Logs/index.tsx
  src/bp/admin/ui/src/app/BottomPanel/Logs/style.scss
  src/bp/admin/ui/src/app/BottomPanel/Logs/style.scss.d.ts
  src/bp/admin/ui/src/app/BottomPanel/Logs/util.ts
  src/bp/admin/ui/src/app/BottomPanel/index.tsx
  src/bp/admin/ui/src/app/BottomPanel/style.scss
  src/bp/admin/ui/src/app/BottomPanel/style.scss.d.ts
  src/bp/admin/ui/src/app/Header/index.tsx
  src/bp/admin/ui/src/app/Header/style.scss
  src/bp/admin/ui/src/app/Header/style.scss.d.ts
  src/bp/admin/ui/src/app/Menu/index.tsx
  src/bp/admin/ui/src/app/Menu/style.scss
  src/bp/admin/ui/src/app/common/PageContainer/index.tsx
  src/bp/admin/ui/src/app/common/PageContainer/style.scss
  src/bp/admin/ui/src/app/common/PageContainer/style.scss.d.ts
  src/bp/admin/ui/src/app/index.tsx
  src/bp/admin/ui/src/app/rootReducer.ts
  src/bp/admin/ui/src/app/routes/index.tsx
  src/bp/admin/ui/src/app/style.scss
  src/bp/admin/ui/src/app/style.scss.d.ts
  src/bp/admin/ui/src/app/translations/en.json
  src/bp/admin/ui/src/app/translations/es.json
  src/bp/admin/ui/src/app/translations/fr.json
  src/bp/admin/ui/src/app/uiReducer.ts
  src/bp/admin/ui/src/health/debug/index.tsx
  src/bp/admin/ui/yarn.lock
  src/e2e/admin/ui.test.ts
Labels: ui/admin

#4893 fix(channel-vonage): make sure carousel does not fire more than 1 req/s
  modules/channel-vonage/src/backend/client.ts
Labels: module/channel-vonage
