Repository botpress/botpress, pull requests merged in 2021-11, with the labels that each got.

#5617 fix(basic-skills): Allow -1 as slot filling retry value
  modules/analytics/src/views/full/ItemsList.tsx
  modules/analytics/src/views/full/index.tsx
  modules/basic-skills/src/views/full/slot.jsx
Labels: module/basic-skills

#5590 chore(core): inform messaging that the processing for a message is done
  package.json
  packages/bp/src/core/app/botpress.ts
  packages/bp/src/core/events/event-engine.ts
  packages/bp/src/core/events/queue/index.ts
  packages/bp/src/core/events/queue/memory-queue.ts
  packages/bp/src/core/messaging/messaging-router.ts
  packages/bp/src/core/messaging/messaging-service.ts
  yarn.lock
Labels: module/unified-messaging

#5616 chore: head branch of team shake_your_botpress
  modules/analytics/src/views/full/ItemsList.tsx
  modules/analytics/src/views/full/index.tsx
  modules/nlu/src/backend/api.ts
  modules/nlu/src/backend/application/index.ts
  packages/bp/e2e/admin/ui.test.ts
  packages/bp/src/core/security/strategy-basic.ts
Labels: X-Games

#5607 chore(message): modified MessageGroup
  modules/channel-web/src/backend/typings.d.ts
  modules/channel-web/src/views/lite/components/messages/MessageGroup.tsx
Labels: module/unified-messaging

#5673 chore(messaging): bump client version + hitlnext adjustments
  modules/channel-web/package.json
  modules/channel-web/src/backend/api.ts
  modules/channel-web/src/backend/db.ts
  modules/channel-web/yarn.lock
  modules/hitlnext/package.json
  modules/hitlnext/src/backend/repository.ts
  modules/hitlnext/yarn.lock
  package.json
  yarn.lock
Labels: module/channel-web

#5658 fix(channel-web): persist sessions when running mesaging migration
  modules/channel-web/src/messaging-migration/down-sqlite.ts
  modules/channel-web/src/messaging-migration/down.ts
  modules/channel-web/src/messaging-migration/up-sqlite.ts
  modules/channel-web/src/messaging-migration/up.ts
Labels: module/channel-web

#5591 fix(channel-web): fix custom user id in events
  modules/channel-web/src/backend/api.ts
  modules/channel-web/src/messaging-migration/down-sqlite.ts
  modules/channel-web/src/messaging-migration/down.ts
  modules/channel-web/src/messaging-migration/up-sqlite.ts
  modules/channel-web/src/messaging-migration/up.ts
  modules/channel-web/src/views/lite/core/api.tsx
  modules/channel-web/src/views/lite/core/socket.tsx
  modules/channel-web/src/views/lite/main.tsx
  modules/channel-web/src/views/lite/store/index.ts
  modules/hitlnext/src/views/full/app/components/LiveChat.tsx
  packages/bp/src/core/messaging/messaging-service.ts
  packages/bp/src/core/users/chat-users/chat-users-repository.ts
  packages/ui-lite/src/EventBus.ts
Labels: module/channel-web

#5693 chore(admin): update recommendations for sticky sessions
  packages/bp/src/admin/ui/src/management/checklist/index.tsx
Labels: ui/admin

#5694 fix(channel-web): disable autoscroll when user scroll manually
  modules/channel-web/src/views/lite/components/messages/MessageList.tsx
Labels: module/channel-web

#5692 fix(channel-web): handle RTL text direction
  modules/channel-web/assets/default-emulator.css
  modules/channel-web/src/views/lite/components/Composer.tsx
  modules/channel-web/src/views/lite/components/messages/renderer/Text.tsx
  modules/channel-web/src/views/lite/utils.tsx
Labels: module/channel-web

#5712 fix(channel-web): fix migrating large number of conversations:
  modules/channel-web/src/messaging-migration/down-sqlite.ts
  modules/channel-web/src/messaging-migration/up-sqlite.ts
Labels: module/channel-web

#5688 fix(realtime): allow to use websocket without sticky sessions
  build/gulp.ui.js
  modules/hitlnext/src/views/full/AgentStatus.tsx
  package.json
  packages/bp/package.json
  packages/bp/src/admin/ui/package.json
  packages/bp/src/admin/ui/src/app/EventBus.ts
  packages/bp/src/admin/ui/src/management/checklist/index.tsx
  packages/bp/src/admin/ui/yarn.lock
  packages/bp/src/bench/index.ts
  packages/bp/src/core/app/server.ts
  packages/bp/src/core/realtime/realtime-service.ts
  packages/bp/src/core/realtime/socket.io-jwt/index.ts
  packages/ui-lite/package.json
  packages/ui-lite/src/EventBus.ts
  packages/ui-lite/webpack.config.js
  yarn.lock
Labels: core/backend
