Repository botpress/botpress, pull requests merged in 2021-09, with the labels that each got.

#5382 chore(doc): Updated index.js
  docs/guide/website/pages/en/index.js
Labels: documentation

#5380 fix(misunderstood): change preview column from varchar to text
  modules/misunderstood/src/backend/db.ts
  modules/misunderstood/src/migrations/v12_26_0-1630422173-migration_varchar_to_text.ts
Labels: module/misunderstood

#5215 feat(core): add before conversation end hook and flow
  build/module-builder/src/build.ts
  docs/guide/docs/main/code.md
  modules/builtin/src/bot-templates/welcome-bot/content-elements/builtin_text.json
  modules/builtin/src/bot-templates/welcome-bot/flows/conversation_end.flow.json
  modules/builtin/src/bot-templates/welcome-bot/flows/conversation_end.ui.json
  modules/builtin/src/bot-templates/welcome-bot/hooks/before_conversation_end/create_end_message.js
  modules/code-editor/src/typings/hooks.ts
  modules/code-editor/src/views/full/SidePanel.tsx
  packages/bp/e2e/modules/webchat.test.ts
  packages/bp/src/core/dialog/dialog-engine.ts
  packages/bp/src/core/user-code/hook-service.ts
Labels: ui/studio/flow

#5397 chore(messaging): bump messaging to v0.1.12
  package.json
Labels: module/unified-messaging

#5377 fix(admin): fix restarting botpress from the admin status bar
  packages/bp/src/admin/ui/src/app/StatusBar/ConfigStatus.tsx
Labels: ui/admin

#5400 chore(studio): bump studio to v0.0.34
  package.json
Labels: ui/studio

#5179 docs(main): update built in functionalities
  docs/guide/docs/assets/choice-skill-entry.png
  docs/guide/docs/assets/choice-skill-transitions.png
  docs/guide/docs/assets/choice-skill-tries.png
  docs/guide/docs/assets/single-choice.png
  docs/guide/docs/main/code.md
Labels: documentation

#5361 feat(docker-compose): Added https example with Certbot and letsencrypt
  examples/docker-compose/docker-compose-community-nginx-https.yaml
  examples/docker-compose/nginx/user_conf.d/https.conf
Labels: infrastructure

#5421 fix(channel-web): fix typing indicator display
  modules/channel-web/src/backend/socket.ts
Labels: module/channel-web

#5405 chore(shared-lite): added unit tests for storage utils
  package.json
  packages/ui-shared-lite/jest.config.js
  packages/ui-shared-lite/package.json
  packages/ui-shared-lite/utils/storage.test.ts
  packages/ui-shared-lite/utils/storage.ts
Labels: core/backend

#5384 feat(misunderstood): add reason to setEventStatus when switching tabs
  modules/misunderstood/src/views/full/index.tsx
Labels: module/misunderstood

#5422 chore(deps): bump tar package
  build/module-builder/package.json
  build/module-builder/yarn.lock
  modules/nlu/package.json
  modules/nlu/yarn.lock
  package.json
  packages/bp/package.json
  yarn.lock
Labels: core/backend

#5436 fix(misunderstood): bring back event.state.user.language
  modules/misunderstood/src/backend/index.ts
Labels: module/misunderstood

#5434 chore(dx): better experience with multiple repositories
  README.md
  build/downloader/src/cli.ts
  build/downloader/src/index.ts
  build/downloader/src/utils.ts
  build/downloader/src/workspace-manager.ts
Labels: developer experience

#5439 fix(code-editor): file listing error 'undefined is not iterable'
  modules/code-editor/src/backend/editor.ts
Labels: module/code-editor

#5437 chore(heroku): Modified Dockerfile for Heroku
  Dockerfile
Labels: infrastructure

#5428 fix(analytics): fix n/a lang entries description
  packages/ui-shared/src/translations/en.json
  packages/ui-shared/src/translations/es.json
  packages/ui-shared/src/translations/fr.json
Labels: module/analytics

#5429 chore(misunderstood): add lots of tests
  modules/misunderstood/src/backend/applyChanges.ts
  modules/misunderstood/src/backend/db.test.ts
  modules/misunderstood/src/backend/db.ts
  modules/misunderstood/src/backend/misunderstood-unit.test.ts
Labels: module/misunderstood

#5406 chore(messaging): update payload
  package.json
  packages/bp/src/core/messaging/messaging-router.ts
  packages/bp/src/core/messaging/messaging-service.ts
Labels: module/unified-messaging

#5450 fix(google-speech): fix using google-speech with ogg opus files
  modules/google-speech/src/backend/client.ts
Labels: module/google-speech

#5118 fix(channel-web): fix useSessionStorage config option
  modules/channel-web/src/views/lite/core/socket.tsx
  modules/channel-web/src/views/lite/main.tsx
  modules/channel-web/src/views/lite/store/composer.ts
  modules/channel-web/src/views/lite/store/index.ts
  modules/channel-web/src/views/lite/translations/index.tsx
  modules/channel-web/src/views/lite/typings.d.ts
  modules/hitlnext/package.json
  modules/hitlnext/src/types.d.ts
  modules/hitlnext/src/views/full/app/storage.ts
  modules/hitlnext/src/views/types.d.ts
  modules/hitlnext/yarn.lock
  package.json
  packages/ui-lite/src/typings.d.ts
  packages/ui-shared-lite/auth/index.ts
  packages/ui-shared-lite/jest.config.js
  packages/ui-shared-lite/package.json
  packages/ui-shared-lite/utils/storage.test.ts
  packages/ui-shared-lite/utils/storage.ts
  packages/ui-shared-lite/utils/typings.d.ts
  packages/ui-shared-lite/yarn.lock
  packages/ui-shared/src/ModuleUI/typings.d.ts
  packages/ui-shared/src/index.tsx
  packages/ui-shared/src/typings.d.ts
  yarn.lock
Labels: module/channel-web

#5469 fix(channel-web): prevent sending proactive messages on webchatLoaded
  modules/channel-web/src/views/lite/main.tsx
  modules/channel-web/src/views/lite/store/index.ts
Labels: module/channel-web

#5488 fix(channel-web): fix display of image, file, audio and video content-elements
  modules/channel-web/assets/default-emulator.css
  modules/channel-web/assets/default.css
  modules/channel-web/src/views/lite/components/messages/Message.tsx
  modules/channel-web/src/views/lite/components/messages/renderer/FileMessage.tsx
  packages/ui-shared-lite/Payloads/index.ts
Labels: module/channel-web

#5461 chore: add PULL REQUEST TEMPLATE for better documentation
  .github/PULL-REQUEST-TEMPLATE.md
Labels: documentation

#5494 chore(dev): updated nodejs to v12.18.1
  .github/ISSUE_TEMPLATE.md
  .github/workflows/codestyle.yml
  .github/workflows/docker.yml
  .github/workflows/migration-tests.yml
  .github/workflows/publish-reference.yml
  .github/workflows/tests.yml
  .github/workflows/validate-docs.yml
  .nvmrc
  .vscode/launch.json
Labels: dependencies

#5458 fix(misunderstood): fix duplicated preview and add scroll for chats
  modules/misunderstood/src/views/full/MainScreen/NewEventView.tsx
  modules/misunderstood/src/views/full/MainScreen/style.scss
  modules/misunderstood/src/views/full/_variables.scss
  modules/misunderstood/src/views/full/style.scss
Labels: module/misunderstood

#5497 fix(nlu): made null assertion in extractElectedIntentSlot more robust
  modules/nlu/src/backend/election/natural-election.test.ts
  modules/nlu/src/backend/election/natural-election.ts
  modules/nlu/src/test/types.ts
Labels: bug, core/nlu, module/nlu
