Repository botpress/botpress, pull requests merged in 2021-07, with the labels that each got.

#5098 chore(docs): update entities topic
  docs/guide/docs/nlu/entity-extraction.md
  docs/guide/website/sidebars.json
Labels: documentation

#5096 chore(docs): intro nlu
  docs/guide/docs/nlu/intro-nlu.md
  docs/guide/website/sidebars.json
Labels: documentation

#5137 chore(docs): improvement topic
  docs/guide/docs/assets/mis-interface-new-item.png
  docs/guide/docs/assets/mis-solve-ammend.png
  docs/guide/docs/assets/misundertood-interface.png
  docs/guide/docs/nlu/improvement.md
  docs/guide/website/sidebars.json
Labels: documentation

#5136 chore(docs): slots added context
  docs/guide/docs/assets/slot-mix.png
  docs/guide/docs/assets/slots-fill-mix.png
  docs/guide/docs/assets/slots-mix.png
  docs/guide/docs/nlu/skill-slot.md
Labels: documentation

#5144 chore(docs): update dialog.md
  docs/guide/docs/assets/adding-content.png
  docs/guide/docs/assets/flow_node.png
  docs/guide/docs/assets/flow_wide_onreceive.png
  docs/guide/docs/assets/node_blocking.png
  docs/guide/docs/assets/skillsEdit.png
  docs/guide/docs/assets/skillsMenu.png
  docs/guide/docs/assets/stateLifetime.png
  docs/guide/docs/assets/workflow-breakdown.png
  docs/guide/docs/main/dialog.md
Labels: documentation

#5172 fix(core): fix missing await in mapping migration
  src/bp/migrations/v12_20_2-1617829329-mapping_migration.ts
Labels: core/database

#5165 chore(messaging): Add optional metadata field to Converse API
  src/bp/core/converse/converse-router.ts
Labels: core/converse

#5164 fix(core): Add undefined value checks on filepaths given to telemetry
  src/bp/core/telemetry/stats/sdk-stats.ts
Labels: bug, core/backend

#5169 chore(nlu): extract nlu client in the nlu repository
  modules/nlu/package.json
  modules/nlu/src/backend/bootstrap.ts
  modules/nlu/src/backend/stan/api-mapper.ts
  modules/nlu/src/backend/stan/client.ts
  modules/nlu/src/backend/stan/http-typings.ts
  modules/nlu/src/backend/stan/index.ts
  modules/nlu/src/backend/stan/model-id-service.ts
  modules/nlu/src/backend/stan/typings_v1.d.ts
  modules/nlu/yarn.lock
Labels: nlu server

#5182 feat(messaging): pass botpress external url to messaging process
  src/bp/orchestrator/messaging-server.ts
Labels: core/backend

#5147 fix(channel-web): fix locked composer
  modules/channel-web/src/views/lite/components/messages/renderer/QuickReplies.tsx
Labels: module/channel-web

#5176 feat(messaging): allow to enable/disable channels using botpress config
  src/bp/core/app/server.ts
  src/bp/core/config/botpress.config.ts
  src/bp/core/config/config-loader.ts
  src/bp/core/messaging/messaging-router.ts
  src/bp/core/messaging/messaging-service.ts
  src/bp/migrations/v12_23_0-1625865172-move_channels_out_of_modules_in_config.ts
Labels: core/backend

#5154 fix(hitlnext): UI modification, toast over composer
  modules/hitlnext/src/views/full/app/components/ConversationContainer.tsx
  src/bp/ui-shared/src/Toaster/index.tsx
Labels: ui/studio

#5160 fix(core): subflow transitions for timeout flow
  src/bp/core/dialog/dialog-engine.ts
Labels: ui/studio/flow

#5138 fix(studio): Added language warning sign in the bot list
  src/bp/admin/ui/src/app/translations/en.json
  src/bp/admin/ui/src/app/translations/es.json
  src/bp/admin/ui/src/app/translations/fr.json
  src/bp/admin/ui/src/workspace/bots/BotItemCompact.tsx
  src/bp/admin/ui/src/workspace/bots/BotItemPipeline.tsx
  src/bp/admin/ui/src/workspace/bots/index.tsx
  src/bp/admin/ui/src/workspace/bots/reducer.ts
Labels: ui/studio

#5121 feat(auth): allow to hide default auth strategy when alternative used
  .github/workflows/tests.yml
  jest-puppeteer.config.js
  src/bp/admin/ui/src/auth/Login.tsx
  src/bp/common/typings.ts
  src/bp/core/config/botpress.config.ts
  src/bp/core/security/auth-service.ts
  src/e2e/admin/auth.test.ts
  src/e2e/all.test.ts
  src/e2e/assets/auth-config.json
Labels: core/security

#5197 fix(google-speech): use studio url for tts audio upload to media storage
  modules/google-speech/src/backend/middleware.ts
Labels: module/google-speech

#5198 fix(channel-web): fix voice audio support
  modules/channel-web/src/backend/api.ts
Labels: module/channel-web

#5199 fix(google-speech): move closest number utils into google-speech code
  modules/google-speech/src/backend/client.ts
  modules/google-speech/src/backend/utils.test.ts
  modules/google-speech/src/backend/utils.ts
Labels: module/google-speech

#5181 feat(channel-web): allow to have noBubble message from custom content type
  modules/channel-web/src/views/lite/components/messages/Message.tsx
Labels: feature-request, internal, module/channel-web

#5184 fix(channel-web): fix missing payload of file upload #5149
  modules/channel-web/src/backend/api.ts
  modules/channel-web/src/views/lite/core/api.tsx
  modules/channel-web/src/views/lite/store/index.ts
Labels: module/channel-web

#5178 docs(main): update testing conversations
  docs/guide/docs/assets/emulator_icons.png
  docs/guide/docs/assets/emulator_win_inspector.png
  docs/guide/docs/assets/emulator_win_raw_json.png
  docs/guide/docs/assets/test_website.png
  docs/guide/docs/main/emulator.md
Labels: documentation

#5201 fix(core): log an error if an action isn't found (#2826)
  src/bp/core/dialog/instruction/strategy.ts
Labels: core/action

#5112 feat(messaging): 4 - implement services that use external messaging
  packages/bp/src/core/app/botpress.ts
  packages/bp/src/core/app/inversify/services.inversify.ts
  packages/bp/src/core/app/server.ts
  packages/bp/src/core/bots/bot-service.ts
  packages/bp/src/core/messaging/index.ts
  packages/bp/src/core/messaging/legacy.ts
  packages/bp/src/core/messaging/messaging-client.ts
  packages/bp/src/core/messaging/messaging-router.ts
  packages/bp/src/core/messaging/messaging-service.ts
  packages/bp/src/core/migration/bot-migration-service.ts
  packages/bp/src/core/migration/migration-service.ts
  packages/bp/src/core/types.ts
  packages/bp/src/migrations/v12_24_0-1625865172-move_channel_configs_in_bot_config.ts
  packages/bp/src/migrations/v12_24_0-1625965172-remove_channels_from_botpress_config.ts
  packages/bp/src/sdk/botpress.d.ts
Labels: module/unified-messaging

#5126 feat(messaging): 3 - spin messaging server
  build/downloader/src/cli.ts
  package.json
  packages/bp/src/core/app/bootstrap.ts
  packages/bp/src/core/app/botpress.ts
  packages/bp/src/core/app/inversify/services.inversify.ts
  packages/bp/src/core/app/server.ts
  packages/bp/src/core/bots/bot-service.ts
  packages/bp/src/core/messaging/index.ts
  packages/bp/src/core/messaging/legacy.ts
  packages/bp/src/core/messaging/messaging-client.ts
  packages/bp/src/core/messaging/messaging-router.ts
  packages/bp/src/core/messaging/messaging-service.ts
  packages/bp/src/core/migration/bot-migration-service.ts
  packages/bp/src/core/migration/migration-service.ts
  packages/bp/src/core/types.ts
  packages/bp/src/migrations/v12_24_0-1625865172-move_channel_configs_in_bot_config.ts
  packages/bp/src/migrations/v12_24_0-1625965172-remove_channels_from_botpress_config.ts
  packages/bp/src/orchestrator/master.ts
  packages/bp/src/orchestrator/messaging-server.ts
  packages/bp/src/orchestrator/web-worker.ts
  packages/bp/src/sdk/botpress.d.ts
  packages/bp/src/typings/global.d.ts
Labels: module/unified-messaging

#5111 chore(messaging): 2 - delete all messaging services
  build/downloader/src/cli.ts
  modules/google-speech/src/backend/middleware.ts
  package.json
  packages/bp/src/common/channel.ts
  packages/bp/src/core/app/api.ts
  packages/bp/src/core/app/bootstrap.ts
  packages/bp/src/core/app/botpress.ts
  packages/bp/src/core/app/inversify/repositories.inversify.ts
  packages/bp/src/core/app/inversify/services.inversify.ts
  packages/bp/src/core/app/server.ts
  packages/bp/src/core/bots/bot-service.ts
  packages/bp/src/core/converse/converse-service.ts
  packages/bp/src/core/database/database-tables.ts
  packages/bp/src/core/mapping/mapping-repository.ts
  packages/bp/src/core/mapping/mapping-table.ts
  packages/bp/src/core/messaging/conversation-repository.ts
  packages/bp/src/core/messaging/conversation-service.ts
  packages/bp/src/core/messaging/conversations-table.ts
  packages/bp/src/core/messaging/index.ts
  packages/bp/src/core/messaging/legacy.ts
  packages/bp/src/core/messaging/message-repository.ts
  packages/bp/src/core/messaging/message-service.ts
  packages/bp/src/core/messaging/messages-table.ts
  packages/bp/src/core/messaging/messaging-client.ts
  packages/bp/src/core/messaging/messaging-router.ts
  packages/bp/src/core/messaging/messaging-service.ts
  packages/bp/src/core/migration/bot-migration-service.ts
  packages/bp/src/core/migration/migration-service.ts
  packages/bp/src/core/types.ts
  packages/bp/src/migrations/v12_24_0-1625865172-move_channel_configs_in_bot_config.ts
  packages/bp/src/migrations/v12_24_0-1625965172-remove_channels_from_botpress_config.ts
  packages/bp/src/orchestrator/master.ts
  packages/bp/src/orchestrator/messaging-server.ts
  packages/bp/src/orchestrator/web-worker.ts
  packages/bp/src/sdk/botpress.d.ts
  packages/bp/src/typings/global.d.ts
Labels: module/unified-messaging

#5192 fix(nlu): allow to skip spellcheck with an env variable
  modules/nlu/src/backend/middlewares.ts
Labels: module/nlu

#5211 feat(devops): Dockerhub Added latest, edge and feature branch for dockerhub
  .github/workflows/docker.yml
  build/docker/docker-readme.md
  docs/guide/docs/infrastructure/docker.md
Labels: infrastructure

#5208 docs(env): Added a section about environment variable for module
  docs/guide/docs/manage/configuration.md
Labels: documentation

#5189 fix(channel-web): prevent message sorting issue
  modules/channel-web/src/views/lite/components/messages/MessageGroup.tsx
Labels: module/channel-web

#5142 docs(overview): Updated overview.md
  docs/guide/docs/assets/create-new.png
  docs/guide/docs/main/overview.md
Labels: documentation

#5085 fix(nlu): custom entities slots exported to Dialogflow
  modules/.nlu-extras/src/backend/engines/dialogflow.ts
  modules/.nlu-extras/src/backend/typings.ts
Labels: module/nlu

#5190 docs(main): create broadcast.md
  docs/guide/docs/assets/broadcast.png
  docs/guide/docs/assets/new-broadcast.png
  docs/guide/docs/main/broadcast.md
  docs/guide/website/sidebars.json
Labels: documentation

#5188 docs(main): add qna doc
  docs/guide/docs/main/qna-module
  docs/guide/website/sidebars.json
Labels: documentation

#5162 fix(core): fix disk storage race condition
  package.json
  packages/bp/package.json
  packages/bp/src/core/bpfs/drivers/disk-driver.ts
  yarn.lock
Labels: core/backend

#5230 fix(teams): fix receiving quick replies with teams
  modules/channel-teams/src/backend/client.ts
Labels: module/channel-teams
