Repository botpress/botpress, changes with the owners that CODEOWNERS names for each.
All owners: @botpress/engineering, @botpress/squid, @pascal-botpress, @franklevasseur, @allardy, @botpress/starfish, @AbrahamLopez10, @botpress/shark

Add description indication
  integrations/whatsapp/integration.definition.ts
Owners: @botpress/squid

Add type test
  packages/sdk/src/integration/client/types.test.ts
Owners: @botpress/squid

add userId support in comment handling and update recipient ID type
  integrations/instagram/integration.definition.ts
  integrations/instagram/src/channels/channel.ts
  integrations/instagram/src/misc/client.ts
  integrations/instagram/src/misc/types.ts
  integrations/instagram/src/webhook/handlers/comments.ts
Owners: @botpress/squid

Add tests for functions where channel is provided
  packages/sdk/src/integration/client/types.test.ts
Owners: @botpress/squid

fix(sdk): Fix typing error in `ConversationResponse` (#14389)
  packages/cli/package.json
  packages/cli/templates/empty-bot/package.json
  packages/cli/templates/empty-integration/package.json
  packages/cli/templates/empty-plugin/package.json
  packages/cli/templates/hello-world/package.json
  packages/cli/templates/webhook-message/package.json
  packages/sdk/package.json
  packages/sdk/src/integration/client/types.test.ts
  packages/sdk/src/integration/client/types.ts
  pnpm-lock.yaml
Owners: @botpress/squid, @botpress/engineering

Update BambooHR integration public readme (#14387)
  integrations/bamboohr/hub.md
Owners: @botpress/squid

Fix typing bug in `getConversation` response
  integrations/messenger/src/actions/typing-indicator.ts
  integrations/messenger/src/misc/utils.ts
Owners: @botpress/squid

Remove Facebook integration
  .github/workflows/deploy-integrations-production.yml
  integrations/facebook/.gitignore
  integrations/facebook/README.md
  integrations/facebook/eslint.config.mjs
  integrations/facebook/extract.vrl
  integrations/facebook/fallbackHandler.vrl
  integrations/facebook/hub.md
  integrations/facebook/icon.svg
  integrations/facebook/integration.definition.ts
  integrations/facebook/linkTemplate.vrl
  integrations/facebook/package.json
  integrations/facebook/src/actions/index.ts
  integrations/facebook/src/channels/comment-replies.ts
  integrations/facebook/src/channels/index.ts
  integrations/facebook/src/index.ts
  integrations/facebook/src/misc/auth.ts
  integrations/facebook/src/misc/facebook-client.ts
  integrations/facebook/src/misc/meta-client.ts
  integrations/facebook/src/misc/types.ts
  integrations/facebook/src/misc/utils.ts
  integrations/facebook/src/setup.ts
  integrations/facebook/src/webhook/handler.ts
  integrations/facebook/src/webhook/handlers/comment-replies.ts
  integrations/facebook/src/webhook/handlers/index.ts
  integrations/facebook/src/webhook/handlers/oauth/index.ts
  integrations/facebook/src/webhook/handlers/oauth/wizard.ts
  integrations/facebook/src/webhook/index.ts
  integrations/facebook/tsconfig.json
Owners: @botpress/engineering, @botpress/squid

bumped cli patch
  packages/cli/package.json
Owners: @botpress/squid

added alias argument to cli add command
  packages/cli/package.json
  packages/cli/src/command-implementations/add-command.ts
  packages/cli/src/config.ts
Owners: @botpress/squid

First MVP
  packages/cli/package.json
  packages/cli/src/command-implementations/deploy-command.ts
  packages/cli/src/command-implementations/dev-command.ts
  packages/cli/src/command-implementations/project-command.ts
  packages/cli/src/logger/base-logger.ts
  packages/cli/src/utils/index.ts
  packages/cli/src/utils/vrl-utils.ts
  pnpm-lock.yaml
Owners: @botpress/squid, @botpress/engineering

chore(integrations/workable): use import aliases (#14371)
  integrations/workable/definitions/actions/candidates.ts
  integrations/workable/definitions/models/candidates.ts
  integrations/workable/src/mapping/candidate-mapper.ts
Owners: @botpress/squid

added getCandidates acrion
  integrations/workable/src/index.ts
Owners: @botpress/squid

changed short_code to shortcode in api schema
  integrations/workable/src/mapping/candidate-mapper.ts
  integrations/workable/src/workable-schemas/candidates.ts
Owners: @botpress/squid

updated dependencies
  integrations/workable/package.json
  pnpm-lock.yaml
Owners: @botpress/squid, @botpress/engineering

removed optional from zod objects in arrays in api schemas
  integrations/workable/src/workable-schemas/candidates.ts
Owners: @botpress/squid

feat(integrations/workable): new webhooks for creating and moving candidates (#14381)
  integrations/workable/definitions/events/candidates.ts
  integrations/workable/definitions/events/common.ts
  integrations/workable/integration.definition.ts
  integrations/workable/package.json
  integrations/workable/src/handler.ts
  integrations/workable/src/index.ts
  integrations/workable/src/mapping/candidate-mapper.ts
  integrations/workable/src/workable-api/client.ts
  integrations/workable/src/workable-schemas/events.ts
  pnpm-lock.yaml
Owners: @botpress/squid, @botpress/engineering

added nextToken field
  integrations/workable/src/mapping/candidate-mapper.ts
  integrations/workable/src/mapping/pagination.ts
  integrations/workable/src/workable-api/service.ts
Owners: @botpress/squid

changed error throwing pattern
  integrations/workable/src/index.ts
Owners: @botpress/squid

added getCandidate action
  integrations/workable/definitions/models/candidates.ts
  integrations/workable/integration.definition.ts
  integrations/workable/src/index.ts
  integrations/workable/src/mapping/candidate-mapper.ts
  integrations/workable/src/workable-api/client.ts
  integrations/workable/src/workable-schemas/candidates.ts
Owners: @botpress/squid

removed refine attributes on input schema
  integrations/workable/definitions/actions/candidates.ts
Owners: @botpress/squid

formatted with prettier
  integrations/workable/definitions/actions/candidates.ts
  integrations/workable/integration.definition.ts
  integrations/workable/src/index.ts
  integrations/workable/src/workable-api/client.ts
Owners: @botpress/squid

changed integration name and remoeved dependency
  integrations/workable/package.json
  pnpm-lock.yaml
Owners: @botpress/squid, @botpress/engineering

added mapping functions for workable api's payload
  integrations/workable/definitions/actions/candidates.ts
  integrations/workable/definitions/actions/index.ts
  integrations/workable/definitions/models/candidates.ts
  integrations/workable/integration.definition.ts
  integrations/workable/src/candidate-mapper.ts
  integrations/workable/src/index.ts
  integrations/workable/src/workable-api/client.ts
  integrations/workable/src/workable-api/service.ts
  integrations/workable/src/workable-schemas/candidates.ts
Owners: @botpress/squid

changed error message key to correct one in client
  integrations/workable/src/workable-api/client.ts
Owners: @botpress/squid

update
  pnpm-lock.yaml
Owners: @botpress/engineering

fixed lint
  integrations/workable/src/index.ts
  integrations/workable/src/mapping/candidate-mapper.ts
  integrations/workable/src/workable-api/client.ts
Owners: @botpress/squid

removed service
  integrations/workable/src/index.ts
  integrations/workable/src/workable-api/service.ts
Owners: @botpress/squid

updated error throw logic
  integrations/workable/src/index.ts
  integrations/workable/src/workable-api/client.ts
Owners: @botpress/squid

added base files and definitions for new integration
  integrations/workable/definitions/actions/candidates.ts
  integrations/workable/definitions/actions/index.ts
  integrations/workable/eslint.config.mjs
  integrations/workable/hub.md
  integrations/workable/icon.svg
  integrations/workable/integration.definition.ts
  integrations/workable/package.json
  integrations/workable/src/index.ts
  integrations/workable/tsconfig.json
Owners: @botpress/squid

fixed package.json
  integrations/workable/package.json
Owners: @botpress/squid

removed optional from zod objects in arrays
  integrations/workable/definitions/models/candidates.ts
Owners: @botpress/squid

made email value in input schema not nullable
  integrations/workable/definitions/models/candidates.ts
Owners: @botpress/squid

changed listCandidates action name and description
  integrations/workable/definitions/actions/candidates.ts
Owners: @botpress/squid

added pagination fields
  integrations/workable/definitions/actions/candidates.ts
  integrations/workable/integration.definition.ts
  integrations/workable/src/index.ts
  integrations/workable/src/workable-api/client.ts
Owners: @botpress/squid

added workable icon
  integrations/workable/icon.svg
Owners: @botpress/squid

added functional action as poc
  integrations/workable/definitions/actions/candidates.ts
  integrations/workable/integration.definition.ts
  integrations/workable/src/index.ts
  integrations/workable/src/workable-api/client.ts
Owners: @botpress/squid

moved runtime error throws from the client to th action function
  integrations/workable/package.json
  integrations/workable/src/index.ts
  integrations/workable/src/workable-api/client.ts
Owners: @botpress/squid

made candidate email nullable
  integrations/workable/definitions/models/candidates.ts
  integrations/workable/src/mapping/candidate-mapper.ts
  integrations/workable/src/workable-schemas/candidates.ts
Owners: @botpress/squid

matched zod object field names with api field names
  integrations/workable/definitions/actions/candidates.ts
Owners: @botpress/squid

CODEOWNERS:

# Global
* @botpress/engineering

# Client, SDK, CLI
/packages @botpress/squid

# Bots
/packages/bots @botpress/squid

# Plugins
/plugins @botpress/squid
/plugins/hitl @pascal-botpress @franklevasseur @botpress/squid
/plugins/file-synchronizer @pascal-botpress @botpress/squid

# Integrations
/integrations @botpress/squid

## Utils
/integrations/browser @allardy @botpress/starfish
/integrations/charts @allardy @botpress/starfish
/integrations/pdf-generator @allardy @botpress/starfish

## LLM
/integrations/anthropic @AbrahamLopez10 @botpress/shark
/integrations/cerebras @AbrahamLopez10 @botpress/shark
/integrations/fireworks-ai @AbrahamLopez10 @botpress/shark
/integrations/google-ai @AbrahamLopez10 @botpress/shark
/integrations/groq @AbrahamLopez10 @botpress/shark
/integrations/openai @AbrahamLopez10 @botpress/shark

## Others
/integrations/airtable @botpress/squid
/integrations/asana @botpress/squid
/integrations/bigcommerce-sync @botpress/squid
/integrations/calendly @botpress/squid
/integrations/chat @botpress/squid
/integrations/clickup @botpress/squid
/integrations/confluence @botpress/squid
/integrations/dropbox @botpress/squid
/integrations/docusign @botpress/squid
/integrations/email @botpress/squid
/integrations/freshchat @botpress/squid
/integrations/github @botpress/squid
/integrations/gmail @botpress/squid
/integrations/googlecalendar @botpress/squid
/integrations/googledrive @botpress/squid
/integrations/gsheets @botpress/squid
/integrations/instagram @botpress/squid
/integrations/intercom @botpress/squid
/integrations/line @botpress/squid
/integrations/linear @botpress/squid
/integrations/mailchimp @botpress/squid
/integrations/messenger @botpress/squid
/integrations/monday @botpress/squid
/integrations/notion @botpress/squid
/integrations/resend @botpress/squid
/integrations/sendgrid @botpress/squid
/integrations/slack @botpress/squid
/integrations/stripe @botpress/squid
/integrations/sunco @botpress/squid
/integrations/teams @botpress/squid
/integrations/telegram @botpress/squid
/integrations/todoist @botpress/squid
/integrations/trello @botpress/squid
/integrations/twilio @botpress/squid
/integrations/viber @botpress/squid
/integrations/vonage @botpress/squid
/integrations/webhook @botpress/squid
/integrations/whatsapp @botpress/squid
/integrations/zapier @botpress/squid
/integrations/zendesk @botpress/squid
/integrations/zoho @botpress/squid
