Repository botpress/botpress, changes with the owners that CODEOWNERS names for each.
All owners: @botpress/engineering, @botpress/squid, @pascal-botpress, @franklevasseur, @allardy, @botpress/starfish, @AbrahamLopez10, @botpress/shark

CODEOWNERS:

# Global
* @botpress/engineering

# Client, SDK, CLI
/packages @botpress/squid

# Bots
/packages/bots @botpress/squid

# Plugins
/plugins @botpress/squid
/plugins/hitl @pascal-botpress @franklevasseur @botpress/squid
/plugins/file-synchronizer @pascal-botpress @botpress/squid

# Integrations
/integrations @botpress/squid

## Utils
/integrations/browser @allardy @botpress/starfish
/integrations/charts @allardy @botpress/starfish
/integrations/pdf-generator @allardy @botpress/starfish

## LLM
/integrations/anthropic @AbrahamLopez10 @botpress/shark
/integrations/cerebras @AbrahamLopez10 @botpress/shark
/integrations/fireworks-ai @AbrahamLopez10 @botpress/shark
/integrations/google-ai @AbrahamLopez10 @botpress/shark
/integrations/groq @AbrahamLopez10 @botpress/shark
/integrations/openai @AbrahamLopez10 @botpress/shark

## Others
/integrations/airtable @botpress/squid
/integrations/asana @botpress/squid
/integrations/bigcommerce-sync @botpress/squid
/integrations/calendly @botpress/squid
/integrations/chat @botpress/squid
/integrations/clickup @botpress/squid
/integrations/confluence @botpress/squid
/integrations/dropbox @botpress/squid
/integrations/docusign @botpress/squid
/integrations/email @botpress/squid
/integrations/freshchat @botpress/squid
/integrations/github @botpress/squid
/integrations/gmail @botpress/squid
/integrations/googlecalendar @botpress/squid
/integrations/googledrive @botpress/squid
/integrations/gsheets @botpress/squid
/integrations/instagram @botpress/squid
/integrations/intercom @botpress/squid
/integrations/line @botpress/squid
/integrations/linear @botpress/squid
/integrations/mailchimp @botpress/squid
/integrations/messenger @botpress/squid
/integrations/monday @botpress/squid
/integrations/notion @botpress/squid
/integrations/resend @botpress/squid
/integrations/sendgrid @botpress/squid
/integrations/slack @botpress/squid
/integrations/stripe @botpress/squid
/integrations/sunco @botpress/squid
/integrations/teams @botpress/squid
/integrations/telegram @botpress/squid
/integrations/todoist @botpress/squid
/integrations/trello @botpress/squid
/integrations/twilio @botpress/squid
/integrations/viber @botpress/squid
/integrations/vonage @botpress/squid
/integrations/webhook @botpress/squid
/integrations/whatsapp @botpress/squid
/integrations/zapier @botpress/squid
/integrations/zendesk @botpress/squid
/integrations/zoho @botpress/squid

new test + safe parse + error message
  integrations/twilio/src/index.ts
  integrations/twilio/src/markdown-to-twilio.test.ts
  integrations/twilio/src/markdown-to-twilio.ts
Owners: @botpress/squid

throws at the right place + bump version
  integrations/whatsapp/integration.definition.ts
  integrations/whatsapp/src/misc/tracking.ts
Owners: @botpress/squid

better var names
  integrations/whatsapp/src/misc/tracking.ts
Owners: @botpress/squid

added new schemas for update input
  integrations/workable/definitions/models/candidates.ts
  integrations/workable/src/mapping/candidate-mapper.ts
  integrations/workable/src/workable-api/client.ts
  integrations/workable/src/workable-schemas/candidates.ts
Owners: @botpress/squid

added missing title and description on schema
  integrations/workable/definitions/models/candidates.ts
Owners: @botpress/squid

removed console log
  integrations/workable/src/workable-api/client.ts
Owners: @botpress/squid

Added optional output for unfound data
  integrations/hubspot/definitions/actions/contact.ts
  integrations/hubspot/definitions/actions/deal.ts
  integrations/hubspot/definitions/actions/lead.ts
Owners: @botpress/squid

Handle missing data in actions
  integrations/hubspot/src/actions/contact.ts
  integrations/hubspot/src/actions/deal.ts
  integrations/hubspot/src/actions/lead.ts
Owners: @botpress/squid

Replaced RuntimErrors with logs
  integrations/hubspot/src/hubspot-api/hubspot-client.ts
Owners: @botpress/squid

bumped version + enabled deploy
  .github/workflows/deploy-integrations-production.yml
  plugins/conversation-insights/plugin.definition.ts
Owners: @botpress/engineering, @botpress/squid

fought against my formatter
  .github/workflows/deploy-integrations-production.yml
Owners: @botpress/engineering

chore(plugins/conversation-insights): Enabled production deploy (#14404)
  .github/workflows/deploy-integrations-production.yml
  plugins/conversation-insights/plugin.definition.ts
Owners: @botpress/engineering, @botpress/squid

feat(integrations/workable): New action to update candidates (#14403)
  integrations/workable/definitions/actions/candidates.ts
  integrations/workable/definitions/models/candidates.ts
  integrations/workable/integration.definition.ts
  integrations/workable/src/index.ts
  integrations/workable/src/mapping/candidate-mapper.ts
  integrations/workable/src/workable-api/client.ts
  integrations/workable/src/workable-schemas/candidates.ts
Owners: @botpress/squid

added mapping functions for workable api's payload
  integrations/workable/definitions/actions/candidates.ts
  integrations/workable/definitions/actions/index.ts
  integrations/workable/definitions/models/candidates.ts
  integrations/workable/integration.definition.ts
  integrations/workable/src/candidate-mapper.ts
  integrations/workable/src/index.ts
  integrations/workable/src/workable-api/client.ts
  integrations/workable/src/workable-api/service.ts
  integrations/workable/src/workable-schemas/candidates.ts
Owners: @botpress/squid

fixed lint
  integrations/workable/src/index.ts
  integrations/workable/src/mapping/candidate-mapper.ts
  integrations/workable/src/workable-api/client.ts
Owners: @botpress/squid

changed error throwing pattern
  integrations/workable/src/index.ts
Owners: @botpress/squid

added base files and definitions for new integration
  integrations/workable/definitions/actions/candidates.ts
  integrations/workable/definitions/actions/index.ts
  integrations/workable/eslint.config.mjs
  integrations/workable/hub.md
  integrations/workable/icon.svg
  integrations/workable/integration.definition.ts
  integrations/workable/package.json
  integrations/workable/src/index.ts
  integrations/workable/tsconfig.json
Owners: @botpress/squid

chore(integrations/workable): use import aliases (#14371)
  integrations/workable/definitions/actions/candidates.ts
  integrations/workable/definitions/models/candidates.ts
  integrations/workable/src/mapping/candidate-mapper.ts
Owners: @botpress/squid

removed refine attributes on input schema
  integrations/workable/definitions/actions/candidates.ts
Owners: @botpress/squid

removed optional from zod objects in arrays in api schemas
  integrations/workable/src/workable-schemas/candidates.ts
Owners: @botpress/squid

added functional action as poc
  integrations/workable/definitions/actions/candidates.ts
  integrations/workable/integration.definition.ts
  integrations/workable/src/index.ts
  integrations/workable/src/workable-api/client.ts
Owners: @botpress/squid

formatted with prettier
  integrations/workable/definitions/actions/candidates.ts
  integrations/workable/integration.definition.ts
  integrations/workable/src/index.ts
  integrations/workable/src/workable-api/client.ts
Owners: @botpress/squid

changed integration name and remoeved dependency
  integrations/workable/package.json
  pnpm-lock.yaml
Owners: @botpress/squid, @botpress/engineering

made email value in input schema not nullable
  integrations/workable/definitions/models/candidates.ts
Owners: @botpress/squid

added nextToken field
  integrations/workable/src/mapping/candidate-mapper.ts
  integrations/workable/src/mapping/pagination.ts
  integrations/workable/src/workable-api/service.ts
Owners: @botpress/squid

added pagination fields
  integrations/workable/definitions/actions/candidates.ts
  integrations/workable/integration.definition.ts
  integrations/workable/src/index.ts
  integrations/workable/src/workable-api/client.ts
Owners: @botpress/squid

added workable icon
  integrations/workable/icon.svg
Owners: @botpress/squid

updated dependencies
  integrations/workable/package.json
  pnpm-lock.yaml
Owners: @botpress/squid, @botpress/engineering

matched zod object field names with api field names
  integrations/workable/definitions/actions/candidates.ts
Owners: @botpress/squid

updated error throw logic
  integrations/workable/src/index.ts
  integrations/workable/src/workable-api/client.ts
Owners: @botpress/squid

added getCandidate action
  integrations/workable/definitions/models/candidates.ts
  integrations/workable/integration.definition.ts
  integrations/workable/src/index.ts
  integrations/workable/src/mapping/candidate-mapper.ts
  integrations/workable/src/workable-api/client.ts
  integrations/workable/src/workable-schemas/candidates.ts
Owners: @botpress/squid

feat(integrations/workable): new webhooks for creating and moving candidates (#14381)
  integrations/workable/definitions/events/candidates.ts
  integrations/workable/definitions/events/common.ts
  integrations/workable/integration.definition.ts
  integrations/workable/package.json
  integrations/workable/src/handler.ts
  integrations/workable/src/index.ts
  integrations/workable/src/mapping/candidate-mapper.ts
  integrations/workable/src/workable-api/client.ts
  integrations/workable/src/workable-schemas/events.ts
  pnpm-lock.yaml
Owners: @botpress/squid, @botpress/engineering

feat(integrations/workable): New actions for creating candidates (#14394)
  integrations/workable/definitions/actions/candidates.ts
  integrations/workable/definitions/models/answers.ts
  integrations/workable/definitions/models/candidates.ts
  integrations/workable/integration.definition.ts
  integrations/workable/src/index.ts
  integrations/workable/src/mapping/answers-mapper.ts
  integrations/workable/src/mapping/candidate-mapper.ts
  integrations/workable/src/workable-api/client.ts
  integrations/workable/src/workable-schemas/answers.ts
  integrations/workable/src/workable-schemas/candidates.ts
Owners: @botpress/squid

moved runtime error throws from the client to th action function
  integrations/workable/package.json
  integrations/workable/src/index.ts
  integrations/workable/src/workable-api/client.ts
Owners: @botpress/squid

removed service
  integrations/workable/src/index.ts
  integrations/workable/src/workable-api/service.ts
Owners: @botpress/squid

changed error message key to correct one in client
  integrations/workable/src/workable-api/client.ts
Owners: @botpress/squid

made candidate email nullable
  integrations/workable/definitions/models/candidates.ts
  integrations/workable/src/mapping/candidate-mapper.ts
  integrations/workable/src/workable-schemas/candidates.ts
Owners: @botpress/squid

added getCandidates acrion
  integrations/workable/src/index.ts
Owners: @botpress/squid

changed short_code to shortcode in api schema
  integrations/workable/src/mapping/candidate-mapper.ts
  integrations/workable/src/workable-schemas/candidates.ts
Owners: @botpress/squid

update
  pnpm-lock.yaml
Owners: @botpress/engineering
