Repository botpress/botpress, changes with the owners that CODEOWNERS names for each.
All owners: @botpress/engineering, @botpress/squid, @pascal-botpress, @franklevasseur, @allardy, @botpress/starfish, @AbrahamLopez10, @botpress/shark

CODEOWNERS:

# Global
* @botpress/engineering

# Client, SDK, CLI
/packages @botpress/squid

# Bots
/packages/bots @botpress/squid

# Plugins
/plugins @botpress/squid
/plugins/hitl @pascal-botpress @franklevasseur @botpress/squid
/plugins/file-synchronizer @pascal-botpress @botpress/squid

# Integrations
/integrations @botpress/squid

## Utils
/integrations/browser @allardy @botpress/starfish
/integrations/charts @allardy @botpress/starfish
/integrations/pdf-generator @allardy @botpress/starfish

## LLM
/integrations/anthropic @AbrahamLopez10 @botpress/shark
/integrations/cerebras @AbrahamLopez10 @botpress/shark
/integrations/fireworks-ai @AbrahamLopez10 @botpress/shark
/integrations/google-ai @AbrahamLopez10 @botpress/shark
/integrations/groq @AbrahamLopez10 @botpress/shark
/integrations/openai @AbrahamLopez10 @botpress/shark

## Others
/integrations/airtable @botpress/squid
/integrations/asana @botpress/squid
/integrations/bigcommerce-sync @botpress/squid
/integrations/calendly @botpress/squid
/integrations/chat @botpress/squid
/integrations/clickup @botpress/squid
/integrations/confluence @botpress/squid
/integrations/dropbox @botpress/squid
/integrations/docusign @botpress/squid
/integrations/email @botpress/squid
/integrations/freshchat @botpress/squid
/integrations/github @botpress/squid
/integrations/gmail @botpress/squid
/integrations/googlecalendar @botpress/squid
/integrations/googledrive @botpress/squid
/integrations/gsheets @botpress/squid
/integrations/instagram @botpress/squid
/integrations/intercom @botpress/squid
/integrations/line @botpress/squid
/integrations/linear @botpress/squid
/integrations/mailchimp @botpress/squid
/integrations/messenger @botpress/squid
/integrations/monday @botpress/squid
/integrations/notion @botpress/squid
/integrations/resend @botpress/squid
/integrations/sendgrid @botpress/squid
/integrations/slack @botpress/squid
/integrations/stripe @botpress/squid
/integrations/sunco @botpress/squid
/integrations/teams @botpress/squid
/integrations/telegram @botpress/squid
/integrations/todoist @botpress/squid
/integrations/trello @botpress/squid
/integrations/twilio @botpress/squid
/integrations/viber @botpress/squid
/integrations/vonage @botpress/squid
/integrations/webhook @botpress/squid
/integrations/whatsapp @botpress/squid
/integrations/zapier @botpress/squid
/integrations/zendesk @botpress/squid
/integrations/zoho @botpress/squid

removed optional from zod objects in arrays
  integrations/workable/definitions/models/candidates.ts
Owners: @botpress/squid

changed listCandidates action name and description
  integrations/workable/definitions/actions/candidates.ts
Owners: @botpress/squid

fixed package.json
  integrations/workable/package.json
Owners: @botpress/squid

Pass the logger
  integrations/hubspot/src/actions/contact.ts
  integrations/hubspot/src/actions/deal.ts
  integrations/hubspot/src/actions/lead.ts
  integrations/hubspot/src/actions/ticket.ts
  integrations/hubspot/src/utils.ts
Owners: @botpress/squid

minor change
  integrations/hubspot/src/webhook/handlers/oauth-callback.ts
Owners: @botpress/squid

feat(integrations/workable): the complete workable feature (#14405)
  integrations/workable/definitions/actions/candidates.ts
  integrations/workable/definitions/events/candidates.ts
  integrations/workable/definitions/events/common.ts
  integrations/workable/definitions/models/answers.ts
  integrations/workable/definitions/models/candidates.ts
  integrations/workable/eslint.config.mjs
  integrations/workable/hub.md
  integrations/workable/icon.svg
  integrations/workable/integration.definition.ts
  integrations/workable/package.json
  integrations/workable/src/handler.ts
  integrations/workable/src/index.ts
  integrations/workable/src/mapping/answers-mapper.ts
  integrations/workable/src/mapping/candidate-mapper.ts
  integrations/workable/src/mapping/pagination.ts
  integrations/workable/src/workable-api/client.ts
  integrations/workable/src/workable-schemas/answers.ts
  integrations/workable/src/workable-schemas/candidates.ts
  integrations/workable/src/workable-schemas/events.ts
  integrations/workable/tsconfig.json
  pnpm-lock.yaml
Owners: @botpress/squid, @botpress/engineering

simpler assertion
  integrations/instagram/definitions/channel.ts
Owners: @botpress/squid

bumped a major
  integrations/hubspot/integration.definition.ts
Owners: @botpress/squid

sender and recepient back in createMessage
  integrations/instagram/integration.definition.ts
  integrations/instagram/src/webhook/handlers/messages.ts
Owners: @botpress/squid

Updated the hub
  integrations/hubspot/hub.md
Owners: @botpress/squid

Revert naming to avoid breaking
  integrations/instagram/definitions/channel.ts
  integrations/instagram/integration.definition.ts
  integrations/instagram/src/actions/index.ts
  integrations/instagram/src/actions/proactive-conversation.ts
Owners: @botpress/squid

updated hub
  integrations/hubspot/hub.md
Owners: @botpress/squid

update
  integrations/hubspot/hub.md
Owners: @botpress/squid

Removed unused export
  integrations/instagram/definitions/channel.ts
Owners: @botpress/squid

fix(integrations/Hubspot): `searchContact` throws RuntimeError when no contact found (#14406)
  integrations/hubspot/definitions/actions/contact.ts
  integrations/hubspot/definitions/actions/deal.ts
  integrations/hubspot/definitions/actions/lead.ts
  integrations/hubspot/hub.md
  integrations/hubspot/integration.definition.ts
  integrations/hubspot/src/actions/contact.ts
  integrations/hubspot/src/actions/deal.ts
  integrations/hubspot/src/actions/lead.ts
  integrations/hubspot/src/actions/ticket.ts
  integrations/hubspot/src/hubspot-api/hubspot-client.ts
  integrations/hubspot/src/utils.ts
  integrations/hubspot/src/webhook/handlers/oauth-callback.ts
Owners: @botpress/squid

feat(integrations/Instagram): Implemented `proactiveConversations` (#14391)
  integrations/instagram/definitions/channel.ts
  integrations/instagram/integration.definition.ts
  integrations/instagram/src/actions/proactive-conversation.ts
  integrations/instagram/src/channels/channel.ts
  integrations/instagram/src/misc/client.ts
  integrations/instagram/src/misc/types.ts
  integrations/instagram/src/webhook/handlers/comments.ts
  integrations/instagram/src/webhook/handlers/messages.ts
  integrations/instagram/src/webhook/handlers/sandbox.ts
Owners: @botpress/squid

Bump API version and Opapi version in chat API
  package.json
  packages/chat-api/package.json
  packages/cli/package.json
  packages/cli/templates/empty-bot/package.json
  packages/cli/templates/empty-integration/package.json
  packages/cli/templates/empty-plugin/package.json
  packages/cli/templates/hello-world/package.json
  packages/cli/templates/webhook-message/package.json
  packages/client/package.json
  packages/cognitive/package.json
  packages/llmz/package.json
  packages/sdk/package.json
  packages/vai/package.json
  packages/zai/package.json
  pnpm-lock.yaml
Owners: @botpress/engineering, @botpress/squid

Bump Chat API and Chat client version
  packages/chat-api/src/version.ts
  packages/chat-client/package.json
  pnpm-lock.yaml
Owners: @botpress/squid, @botpress/engineering

fixed userId
  plugins/hitl/src/hooks/before-incoming-message/all.ts
Owners: @pascal-botpress, @franklevasseur, @botpress/squid

update
  packages/cli/package.json
Owners: @botpress/squid

update
  pnpm-lock.yaml
Owners: @botpress/engineering

chore(client, chat-api): Bump API version and Opapi version in chat API (#14408)
  package.json
  packages/chat-api/package.json
  packages/chat-api/src/version.ts
  packages/chat-client/package.json
  packages/cli/package.json
  packages/cli/templates/empty-bot/package.json
  packages/cli/templates/empty-integration/package.json
  packages/cli/templates/empty-plugin/package.json
  packages/cli/templates/hello-world/package.json
  packages/cli/templates/webhook-message/package.json
  packages/client/package.json
  packages/cognitive/package.json
  packages/llmz/package.json
  packages/sdk/package.json
  packages/vai/package.json
  packages/zai/package.json
  pnpm-lock.yaml
Owners: @botpress/engineering, @botpress/squid

worky
  integrations/whatsapp/integration.definition.ts
  integrations/whatsapp/src/actions/start-conversation.ts
  integrations/whatsapp/src/misc/phone-number-to-whatsapp.ts
  integrations/whatsapp/src/misc/posthogClient.ts
  integrations/whatsapp/src/webhook/handlers/messages.ts
Owners: @botpress/squid

Updated integration description to reflect combined Facebook and Messenger capabilities.
  integrations/messenger/hub.md
  integrations/messenger/icon.svg
  integrations/messenger/integration.definition.ts
  integrations/messenger/src/webhook/handlers/oauth/wizard.ts
Owners: @botpress/squid

chore(client, chat-api): Bump API version and Opapi version in chat API (#14408)
  package.json
  packages/chat-api/package.json
  packages/chat-api/src/version.ts
  packages/chat-client/package.json
  packages/cli/package.json
  packages/cli/templates/empty-bot/package.json
  packages/cli/templates/empty-integration/package.json
  packages/cli/templates/empty-plugin/package.json
  packages/cli/templates/hello-world/package.json
  packages/cli/templates/webhook-message/package.json
  packages/client/package.json
  packages/cognitive/package.json
  packages/llmz/package.json
  packages/sdk/package.json
  packages/vai/package.json
  packages/zai/package.json
  pnpm-lock.yaml
Owners: @botpress/engineering, @botpress/squid

Resolves https://github.com/botpress/botpress/pull/14293#discussion_r2478914250
  integrations/whatsapp/src/misc/template-utils.ts
Owners: @botpress/squid

cleanup
  integrations/whatsapp/src/misc/template-utils.ts
Owners: @botpress/squid

feat(integrations/twilio): Support markdown (#14384)
  integrations/twilio/package.json
  integrations/twilio/src/index.ts
  integrations/twilio/src/markdown-to-twilio.test.ts
  integrations/twilio/src/markdown-to-twilio.ts
  integrations/twilio/src/types.ts
  pnpm-lock.yaml
Owners: @botpress/squid, @botpress/engineering
