Repository botpress/botpress, changes with the owners that CODEOWNERS names for each.
All owners: @botpress/engineering, @botpress/squid, @pascal-botpress, @franklevasseur, @allardy, @botpress/starfish, @AbrahamLopez10, @botpress/shark

CODEOWNERS:

# Global
* @botpress/engineering

# Client, SDK, CLI
/packages @botpress/squid

# Bots
/packages/bots @botpress/squid

# Plugins
/plugins @botpress/squid
/plugins/hitl @pascal-botpress @franklevasseur @botpress/squid
/plugins/file-synchronizer @pascal-botpress @botpress/squid

# Integrations
/integrations @botpress/squid

## Utils
/integrations/browser @allardy @botpress/starfish
/integrations/charts @allardy @botpress/starfish
/integrations/pdf-generator @allardy @botpress/starfish

## LLM
/integrations/anthropic @AbrahamLopez10 @botpress/shark
/integrations/cerebras @AbrahamLopez10 @botpress/shark
/integrations/fireworks-ai @AbrahamLopez10 @botpress/shark
/integrations/google-ai @AbrahamLopez10 @botpress/shark
/integrations/groq @AbrahamLopez10 @botpress/shark
/integrations/openai @AbrahamLopez10 @botpress/shark

## Others
/integrations/airtable @botpress/squid
/integrations/asana @botpress/squid
/integrations/bigcommerce-sync @botpress/squid
/integrations/calendly @botpress/squid
/integrations/chat @botpress/squid
/integrations/clickup @botpress/squid
/integrations/confluence @botpress/squid
/integrations/dropbox @botpress/squid
/integrations/docusign @botpress/squid
/integrations/email @botpress/squid
/integrations/freshchat @botpress/squid
/integrations/github @botpress/squid
/integrations/gmail @botpress/squid
/integrations/googlecalendar @botpress/squid
/integrations/googledrive @botpress/squid
/integrations/gsheets @botpress/squid
/integrations/instagram @botpress/squid
/integrations/intercom @botpress/squid
/integrations/line @botpress/squid
/integrations/linear @botpress/squid
/integrations/mailchimp @botpress/squid
/integrations/messenger @botpress/squid
/integrations/monday @botpress/squid
/integrations/notion @botpress/squid
/integrations/resend @botpress/squid
/integrations/sendgrid @botpress/squid
/integrations/slack @botpress/squid
/integrations/stripe @botpress/squid
/integrations/sunco @botpress/squid
/integrations/teams @botpress/squid
/integrations/telegram @botpress/squid
/integrations/todoist @botpress/squid
/integrations/trello @botpress/squid
/integrations/twilio @botpress/squid
/integrations/viber @botpress/squid
/integrations/vonage @botpress/squid
/integrations/webhook @botpress/squid
/integrations/whatsapp @botpress/squid
/integrations/zapier @botpress/squid
/integrations/zendesk @botpress/squid
/integrations/zoho @botpress/squid

added validation on answers schema because they wouldn't show up right in the studio
  integrations/workable/definitions/models/answers.ts
  integrations/workable/src/mapping/answers-mapper.ts
Owners: @botpress/squid

removed console log
  integrations/workable/src/mapping/answers-mapper.ts
Owners: @botpress/squid

Move disabled status in integration name
  packages/cli/src/command-implementations/project-command.ts
Owners: @botpress/squid

fix(freshchat): handle empty events (#14395)
  integrations/freshchat/integration.definition.ts
  integrations/freshchat/src/events/messageCreate.ts
Owners: @botpress/squid

added validation for empty resume objects
  integrations/workable/src/mapping/candidate-mapper.ts
Owners: @botpress/squid

removed constructor param
  plugins/hitl/src/actions/start-hitl.ts
  plugins/hitl/src/conv-manager.ts
  plugins/hitl/src/hooks/before-incoming-event/hitl-stopped.ts
  plugins/hitl/src/hooks/before-incoming-event/human-agent-assigned-timeout.ts
  plugins/hitl/src/hooks/before-incoming-message/all.ts
Owners: @pascal-botpress, @franklevasseur, @botpress/squid

bumped patch
  plugins/hitl/plugin.definition.ts
Owners: @pascal-botpress, @franklevasseur, @botpress/squid

chore(cognitive): update types
  packages/cognitive/refresh-models.ts
  packages/cognitive/src/client.ts
  packages/cognitive/src/cognitive-v2/index.ts
  packages/cognitive/src/cognitive-v2/models.ts
  packages/cognitive/src/cognitive-v2/types.ts
  packages/cognitive/src/schemas.gen.ts
Owners: @botpress/squid

fix
  packages/cognitive/src/cognitive-v2/types.ts
Owners: @botpress/squid

fix
  packages/cognitive/src/cognitive-v2/types.ts
Owners: @botpress/squid

fix
  packages/cognitive/src/client.ts
Owners: @botpress/squid

type
  packages/cognitive/src/client.ts
Owners: @botpress/squid

version
  packages/cognitive/package.json
  packages/llmz/package.json
  packages/zai/package.json
  pnpm-lock.yaml
Owners: @botpress/squid, @botpress/engineering

fixed bad constructor calls
  plugins/hitl/src/actions/stop-hitl.ts
  plugins/hitl/src/hooks/before-incoming-event/all.ts
  plugins/hitl/src/hooks/before-incoming-event/hitl-assigned.ts
Owners: @pascal-botpress, @franklevasseur, @botpress/squid

removed unused dep
  plugins/conversation-insights/package.json
Owners: @botpress/squid

feat(integrations/workable): New actions for creating candidates (#14394)
  integrations/workable/definitions/actions/candidates.ts
  integrations/workable/definitions/models/answers.ts
  integrations/workable/definitions/models/candidates.ts
  integrations/workable/integration.definition.ts
  integrations/workable/src/index.ts
  integrations/workable/src/mapping/answers-mapper.ts
  integrations/workable/src/mapping/candidate-mapper.ts
  integrations/workable/src/workable-api/client.ts
  integrations/workable/src/workable-schemas/answers.ts
  integrations/workable/src/workable-schemas/candidates.ts
Owners: @botpress/squid

address comments and add description + schema titles
  integrations/mintlify/definitions/schemas.ts
  integrations/mintlify/integration.definition.ts
  integrations/mintlify/package.json
  integrations/mintlify/src/actions/agent.ts
  integrations/mintlify/src/setup.ts
Owners: @botpress/squid

handle sub-lists
  integrations/twilio/src/markdown-to-twilio.test.ts
  integrations/twilio/src/markdown-to-twilio.ts
Owners: @botpress/squid

remove console logs
  integrations/twilio/src/markdown-to-twilio.ts
Owners: @botpress/squid

address comment and disable lint to avoid bug with .nullable()
  integrations/mintlify/integration.definition.ts
  integrations/mintlify/src/utils/auth.ts
Owners: @botpress/squid

fix api key name
  integrations/mintlify/src/utils/axiosClient.ts
Owners: @botpress/squid

feat(integrations/mintlify): add mintlify integration (#14396)
  integrations/mintlify/definitions/actions/agent.ts
  integrations/mintlify/definitions/actions/index.ts
  integrations/mintlify/definitions/index.ts
  integrations/mintlify/definitions/schemas.ts
  integrations/mintlify/hub.md
  integrations/mintlify/icon.svg
  integrations/mintlify/integration.definition.ts
  integrations/mintlify/package.json
  integrations/mintlify/src/actions/agent.ts
  integrations/mintlify/src/actions/index.ts
  integrations/mintlify/src/index.ts
  integrations/mintlify/src/setup.ts
  integrations/mintlify/src/utils/auth.ts
  integrations/mintlify/src/utils/axiosClient.ts
  integrations/mintlify/src/utils/errorUtils.ts
  integrations/mintlify/tsconfig.json
  pnpm-lock.yaml
Owners: @botpress/squid, @botpress/engineering

added workable schemas for updating candidates
  integrations/workable/src/workable-schemas/candidates.ts
Owners: @botpress/squid

added defs for updating candidates
  integrations/workable/definitions/models/candidates.ts
Owners: @botpress/squid

moved entries schemas outside of image schema
  integrations/workable/definitions/models/candidates.ts
Owners: @botpress/squid

added actions, client function and mapper for updating candidate
  integrations/workable/definitions/actions/candidates.ts
  integrations/workable/definitions/models/candidates.ts
  integrations/workable/integration.definition.ts
  integrations/workable/src/index.ts
  integrations/workable/src/mapping/candidate-mapper.ts
  integrations/workable/src/workable-api/client.ts
  integrations/workable/src/workable-schemas/candidates.ts
Owners: @botpress/squid

added mapper function for updateCandidateInputSchema
  integrations/workable/src/mapping/candidate-mapper.ts
  integrations/workable/src/workable-schemas/candidates.ts
Owners: @botpress/squid

change http method to patch
  integrations/workable/src/workable-api/client.ts
Owners: @botpress/squid

added check for an empty resume object
  integrations/workable/src/mapping/candidate-mapper.ts
Owners: @botpress/squid

changed mapping to prevent sending empty strings in a patch request
  integrations/workable/src/mapping/candidate-mapper.ts
Owners: @botpress/squid

fixed error message
  integrations/workable/src/index.ts
Owners: @botpress/squid

error wip
  integrations/twilio/src/markdown-to-twilio.ts
Owners: @botpress/squid

update
  integrations/twilio/src/markdown-to-twilio.ts
Owners: @botpress/squid

fix(cli): ignore unions in linter
  integrations/mintlify/integration.definition.ts
  packages/cli/src/linter/rulesets/integration.ruleset.ts
Owners: @botpress/squid

Fix wrong environment in staging
  packages/cli/src/command-implementations/project-command.ts
Owners: @botpress/squid

chore(plugins/conversation-insights): remove unused dependency (#14400)
  plugins/conversation-insights/package.json
Owners: @botpress/squid

chore(cognitive): update types (#14398)
  packages/cognitive/package.json
  packages/cognitive/refresh-models.ts
  packages/cognitive/src/client.ts
  packages/cognitive/src/cognitive-v2/index.ts
  packages/cognitive/src/cognitive-v2/models.ts
  packages/cognitive/src/cognitive-v2/types.ts
  packages/cognitive/src/schemas.gen.ts
  packages/llmz/package.json
  packages/zai/package.json
  pnpm-lock.yaml
Owners: @botpress/squid, @botpress/engineering

chore: sync cognitive schemas
  packages/cognitive/src/schemas.gen.ts
Owners: @botpress/squid

chore: sync cognitive schemas (#14401)
  packages/cognitive/src/schemas.gen.ts
Owners: @botpress/squid

update package.josn
  integrations/twilio/package.json
  pnpm-lock.yaml
Owners: @botpress/squid, @botpress/engineering
