Repository botpress/botpress, changes with the owners that CODEOWNERS names for each.
All owners: @botpress/engineering, @botpress/squid, @pascal-botpress, @franklevasseur, @allardy, @botpress/starfish, @AbrahamLopez10, @botpress/shark

CODEOWNERS:

# Global
* @botpress/engineering

# Client, SDK, CLI
/packages @botpress/squid

# Bots
/packages/bots @botpress/squid

# Plugins
/plugins @botpress/squid
/plugins/hitl @pascal-botpress @franklevasseur @botpress/squid
/plugins/file-synchronizer @pascal-botpress @botpress/squid

# Integrations
/integrations @botpress/squid

## Utils
/integrations/browser @allardy @botpress/starfish
/integrations/charts @allardy @botpress/starfish
/integrations/pdf-generator @allardy @botpress/starfish

## LLM
/integrations/anthropic @AbrahamLopez10 @botpress/shark
/integrations/cerebras @AbrahamLopez10 @botpress/shark
/integrations/fireworks-ai @AbrahamLopez10 @botpress/shark
/integrations/google-ai @AbrahamLopez10 @botpress/shark
/integrations/groq @AbrahamLopez10 @botpress/shark
/integrations/openai @AbrahamLopez10 @botpress/shark

## Others
/integrations/airtable @botpress/squid
/integrations/asana @botpress/squid
/integrations/bigcommerce-sync @botpress/squid
/integrations/calendly @botpress/squid
/integrations/chat @botpress/squid
/integrations/clickup @botpress/squid
/integrations/confluence @botpress/squid
/integrations/dropbox @botpress/squid
/integrations/docusign @botpress/squid
/integrations/email @botpress/squid
/integrations/freshchat @botpress/squid
/integrations/github @botpress/squid
/integrations/gmail @botpress/squid
/integrations/googlecalendar @botpress/squid
/integrations/googledrive @botpress/squid
/integrations/gsheets @botpress/squid
/integrations/instagram @botpress/squid
/integrations/intercom @botpress/squid
/integrations/line @botpress/squid
/integrations/linear @botpress/squid
/integrations/mailchimp @botpress/squid
/integrations/messenger @botpress/squid
/integrations/monday @botpress/squid
/integrations/notion @botpress/squid
/integrations/resend @botpress/squid
/integrations/sendgrid @botpress/squid
/integrations/slack @botpress/squid
/integrations/stripe @botpress/squid
/integrations/sunco @botpress/squid
/integrations/teams @botpress/squid
/integrations/telegram @botpress/squid
/integrations/todoist @botpress/squid
/integrations/trello @botpress/squid
/integrations/twilio @botpress/squid
/integrations/viber @botpress/squid
/integrations/vonage @botpress/squid
/integrations/webhook @botpress/squid
/integrations/whatsapp @botpress/squid
/integrations/zapier @botpress/squid
/integrations/zendesk @botpress/squid
/integrations/zoho @botpress/squid

added missing field in tslent pool candidate output schemas
  integrations/workable/definitions/actions/candidates.ts
  integrations/workable/definitions/models/candidates.ts
  integrations/workable/src/index.ts
  integrations/workable/src/mapping/candidate-mapper.ts
  integrations/workable/src/workable-api/client.ts
  integrations/workable/src/workable-schemas/candidates.ts
Owners: @botpress/squid

added schemas for answers
  integrations/workable/definitions/actions/candidates.ts
  integrations/workable/definitions/models/answers.ts
  integrations/workable/definitions/models/candidates.ts
  integrations/workable/src/mapping/answers-mapper.ts
  integrations/workable/src/mapping/candidate-mapper.ts
  integrations/workable/src/workable-schemas/answers.ts
  integrations/workable/src/workable-schemas/candidates.ts
Owners: @botpress/squid

talent pool candidate creation now works
  integrations/workable/definitions/models/candidates.ts
  integrations/workable/src/mapping/candidate-mapper.ts
  integrations/workable/src/workable-api/client.ts
  integrations/workable/src/workable-schemas/candidates.ts
Owners: @botpress/squid

removed console.log
  integrations/workable/src/workable-api/client.ts
Owners: @botpress/squid

added workable schemas and route for creating candidates
  integrations/workable/definitions/models/candidates.ts
  integrations/workable/src/workable-api/client.ts
  integrations/workable/src/workable-schemas/candidates.ts
Owners: @botpress/squid

added actions for candidate creation
  integrations/workable/definitions/actions/candidates.ts
  integrations/workable/definitions/models/candidates.ts
  integrations/workable/integration.definition.ts
  integrations/workable/src/index.ts
  integrations/workable/src/mapping/candidate-mapper.ts
  integrations/workable/src/workable-api/client.ts
  integrations/workable/src/workable-schemas/candidates.ts
Owners: @botpress/squid

added route and schemas for creating a candidate on a job
  integrations/workable/definitions/actions/candidates.ts
  integrations/workable/definitions/models/candidates.ts
  integrations/workable/integration.definition.ts
  integrations/workable/src/mapping/candidate-mapper.ts
  integrations/workable/src/workable-schemas/candidates.ts
Owners: @botpress/squid

added missing resume fields
  integrations/workable/definitions/models/candidates.ts
  integrations/workable/src/mapping/candidate-mapper.ts
  integrations/workable/src/workable-schemas/candidates.ts
Owners: @botpress/squid

feat: implement sandbox configuration mode
  integrations/docusign/definitions/configuration.ts
  integrations/docusign/integration.definition.ts
  integrations/docusign/linkTemplateSandbox.vrl
  integrations/docusign/src/docusign-api/auth-utils.ts
  integrations/docusign/src/docusign-api/auth.ts
Owners: @botpress/squid

fixed e2e missing alias + better abort + fixed bug
  packages/cli/e2e/tests/create-deploy-bot-with-dependencies.ts
  packages/cli/e2e/tests/install-interfaces.ts
  packages/cli/e2e/tests/install-package.ts
  packages/cli/e2e/tests/install-plugins.ts
  packages/cli/src/command-implementations/add-command.ts
Owners: @botpress/squid

removed useless line
  packages/cli/src/command-implementations/add-command.ts
Owners: @botpress/squid

Bump minor and add back `senderId` and `recipientId` message tags to prevent bumping a major
  integrations/instagram/integration.definition.ts
Owners: @botpress/squid

added check for if ids state is undefined before iterating on it
  integrations/workable/src/index.ts
Owners: @botpress/squid

changed field name to match api
  integrations/workable/definitions/models/answers.ts
  integrations/workable/src/workable-schemas/answers.ts
Owners: @botpress/squid

first commit wip
  integrations/whatsapp/package.json
  integrations/whatsapp/src/misc/phone-number-to-whatsapp.ts
  integrations/whatsapp/src/misc/posthogClient.ts
  integrations/whatsapp/src/webhook/handlers/messages.ts
  pnpm-lock.yaml
Owners: @botpress/squid, @botpress/engineering

feat(integrations/docusign): implement sandbox configuration mode (#14393)
  integrations/docusign/definitions/configuration.ts
  integrations/docusign/integration.definition.ts
  integrations/docusign/linkTemplateSandbox.vrl
  integrations/docusign/src/docusign-api/auth-utils.ts
  integrations/docusign/src/docusign-api/auth.ts
Owners: @botpress/squid

first commit not tested
  integrations/whatsapp/src/misc/tracking.ts
Owners: @botpress/squid

update
  pnpm-lock.yaml
Owners: @botpress/engineering

fix(freshchat): handle empty events
  integrations/freshchat/integration.definition.ts
  integrations/freshchat/src/events/messageCreate.ts
Owners: @botpress/squid

Refactor and support sandbox configs
  packages/cli/src/api/client.ts
  packages/cli/src/command-implementations/deploy-command.ts
  packages/cli/src/command-implementations/dev-command.ts
  packages/cli/src/command-implementations/project-command.ts
  packages/cli/src/consts.ts
Owners: @botpress/squid

removed useless z.union
  integrations/workable/definitions/models/answers.ts
  integrations/workable/definitions/models/candidates.ts
  integrations/workable/src/workable-schemas/answers.ts
Owners: @botpress/squid

Refactor for multiple handlers
  integrations/twilio/src/markdown-to-twilio.test.ts
  integrations/twilio/src/markdown-to-twilio.ts
Owners: @botpress/squid

handle whatsapp
  integrations/twilio/src/markdown-to-twilio.test.ts
  integrations/twilio/src/markdown-to-twilio.ts
Owners: @botpress/squid

Change message when bot is authorized
  packages/cli/src/command-implementations/project-command.ts
Owners: @botpress/squid

working for all use case (needs more tests)
  integrations/twilio/src/markdown-to-twilio.ts
Owners: @botpress/squid

lint changes
  integrations/instagram/src/actions/proactive-conversation.ts
  integrations/instagram/src/channels/channel.ts
Owners: @botpress/squid

Add disabled status and fix bugs
  packages/cli/src/command-implementations/project-command.ts
Owners: @botpress/squid

Rename types derived from Client
  packages/cli/src/command-implementations/project-command.ts
Owners: @botpress/squid

Add tests (ssub-list not passing)
  integrations/twilio/src/markdown-to-twilio.test.ts
Owners: @botpress/squid

minor changes in Sandbox
  integrations/instagram/src/webhook/handlers/sandbox.ts
Owners: @botpress/squid

minor changes to avoid breaking
  integrations/instagram/integration.definition.ts
  integrations/instagram/src/actions/index.ts
  integrations/instagram/src/actions/proactive-conversation.ts
Owners: @botpress/squid

Refactor fetching of integration definitions
  packages/cli/src/command-implementations/project-command.ts
Owners: @botpress/squid

Reword log
  packages/cli/src/command-implementations/project-command.ts
Owners: @botpress/squid

Refactor
  packages/cli/src/command-implementations/project-command.ts
Owners: @botpress/squid

feat(integrations/mintlify): add mintlify integration
  integrations/mintlify/definitions/actions/agent.ts
  integrations/mintlify/definitions/actions/index.ts
  integrations/mintlify/definitions/index.ts
  integrations/mintlify/definitions/schemas.ts
  integrations/mintlify/hub.md
  integrations/mintlify/icon.svg
  integrations/mintlify/integration.definition.ts
  integrations/mintlify/package-lock.json
  integrations/mintlify/package.json
  integrations/mintlify/src/actions/agent.ts
  integrations/mintlify/src/actions/index.ts
  integrations/mintlify/src/index.ts
  integrations/mintlify/src/setup.ts
  integrations/mintlify/src/utils/auth.ts
  integrations/mintlify/src/utils/axiosClient.ts
  integrations/mintlify/src/utils/errorUtils.ts
  integrations/mintlify/tsconfig.json
Owners: @botpress/squid

bumped patch
  plugins/hitl/plugin.definition.ts
Owners: @pascal-botpress, @franklevasseur, @botpress/squid

Fix dependencies fetching
  packages/cli/src/command-implementations/project-command.ts
Owners: @botpress/squid

Add newline when no script is available
  packages/cli/src/command-implementations/project-command.ts
Owners: @botpress/squid

Reword authorization status
  packages/cli/src/command-implementations/project-command.ts
Owners: @botpress/squid

use pnpm and specify version for axios
  integrations/mintlify/package-lock.json
  integrations/mintlify/package.json
  pnpm-lock.yaml
Owners: @botpress/squid, @botpress/engineering
